/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: 'sofia_prolight';
  src: url('../fonts/sofiapro-light-webfont.woff2') format('woff2'), url('../fonts/sofiapro-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
body {
  font-family: sofia_prolight;
}

.banner {
  overflow: hidden;
}

.banner-left {
  background: #ff9837;
  min-height: 100vh;
  text-align: center;
  display: table;
}

.banner h2 {
  font-family: sofia_prolight;
  color: #fff;
  margin-top: 0px;
  line-height: 48.8px;
  font-size: 42px;
  font-weight: 500;
  padding-top: 3em;
  text-align: left;
}

.banner p {
  font-family: sofia_prolight;
  color: #fff;
  font-size: 17px;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: left;
}

.banner input {
  height: 47px;
  border: 0px;
  box-shadow: 0px 0px 30px 0px #00000045;
  padding-right: 43px;
}

.banner input::placeholder {
  font-size: 15px;
  font-family: sofia_prolight;
  color: #818282;
}

.inner-addon {
  padding: 0px;
  position: relative;
}

/* style icon */

.inner-addon .glyphicon {
  color: #313232;
  position: absolute;
  padding: 10px;
  right: 10px;
  pointer-events: none;
  top: 5px;
  font-size: 20px;
}

/* align icon */

.left-addon .glyphicon {
  left: 0px;
}

.right-addon .glyphicon {
  right: 0px;
}

/* add padding  */

.left-addon input {
  padding-left: 30px;
}

.right-addon input {
  padding-right: 30px;
}

.banner h4 {
  margin-top: 43px;
  font-family: sofia_prolight;
  color: #fff;
  font-size: 17px;
  text-align: left;
  margin-bottom: 43px;
}

.down-arrow {
  margin-bottom: 47px;
}

.banner-right {
  background: url(../../images/banner-bg.png);
  display: table;
  min-height: 100vh;
  background-size: cover;
  text-align: center;
}

.btn-register {
  margin-top: 45px;
  background: #ff9837;
  font-family: sofia_prolight;
  color: #fff !important;
  border-radius: 30px;
  width: 195px;
  height: 47px;
  font-size: 18px;
  float: left;
}

.navbar-inverse {
  border-color: #e7e7e7;
  background: none;
  top: 0px;
  z-index: 99;
  width: 100%;
  padding-top: 15px;
  border: 0px;
  transition: all 0.45s ease;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  padding: 5px 20px;
  font-family: sofia_prolight;
  font-size: 16px;
}

.banner-inner {
  display: table-cell;
  vertical-align: middle;
  padding-left: 6em;
  width: 80%;
  position: relative;
}

.reg {
  margin-top: -175px !important;
}

.banner-left:before {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 0em solid transparent;
  border-bottom: 73em solid transparent;
  border-left: 118px solid #ff9837;
  z-index: 2;
  right: -113px;
}

.login {
  margin-top: 2px;
  margin-right: 10px;
}

.login li {
  display: inline-block;
}

.login li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 6px;
}

.login li a img {
  margin-top: -3px;
  margin-right: 5px;
}

.li-divide {
  border-right: 2px solid #c3c2c2;
  padding-right: 10px !important;
}

.navbar-inverse .navbar-toggle {
  border: none;
  background: none !important;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 1px;
}

#scrolldown {
  bottom: 162px;
  height: 100px;
  text-align: center;
  width: 100px;
  z-index: 100;
}

#scrolldown p {
  font: 700 0.7em/1em 'Avenir', sans-serif;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: scroll;
  color: #fff;
  font-size: 25px;
  text-align: center;
}

#scrolldown>p {
  text-transform: uppercase;
  text-indent: 3px;
}

.mouse {
  border: 2px solid #fff;
  border-radius: 34px;
  display: block;
  height: 55px;
  width: 32px;
  position: relative;
}

.mouse span {
  display: block;
  font-size: 1.5em;
  margin: 6px auto;
}

.mouse:before {
  content: '';
  position: absolute;
  color: white;
  font-size: 30px;
  top: 7px;
  left: 11px;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 22px;
}

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
  background: #535353 !important;
  margin: 0px;
  padding-bottom: 5px;
  padding-top: 0px;
  transition: all 0.45s ease;
  padding: 0px !important;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: 0px;
}

.Categories {
  padding-top: 2em;
  padding-bottom: 2em;
}

.Categories h2 {
  text-align: center;
  font-family: sofia_prolight;
  font-size: 32px;
  font-weight: bold;
  margin-top: 47px;
  margin-bottom: 47px;
}

.Categories-item {
  box-shadow: 0px 0px 5px 0px #cdcdce;
  overflow: hidden;
  border: 1px solid #ecedef;
  border-radius: 5px;
  margin-top: 30px;
}

.Categories-title {
  background: #ff9837;
  text-align: center;
  padding: 10px;
  min-height: 50px;
}

.Categories-title h4 {
  margin: 0px;
  color: white;
  font-size: 16px;
  font-family: sofia_prolight;
  text-transform: uppercase;
  padding: 5px;
}

.more .btn-more {
  letter-spacing: 2px;
  font-family: sofia_prolight;
  font-size: 18px;
  color: #797d7f;
  background: white;
  border-radius: 37px;
  border: 2px solid #c8ccce;
  margin-top: 30px;
  font-weight: bold;
  padding: 12px 30px;
  transition: all .3s ease-in-out;
  margin-bottom: 30px;
}

.more .btn-more:hover {
  background: #ff9837;
  border-color: white;
  color: white;
}

.Innstal-works {
  background: #f9fafb;
  margin-top: 2em;
  padding-bottom: 3em;
}

.Innstal-works h2 {
  text-align: center;
  font-family: sofia_prolight;
  font-size: 32px;
  font-weight: bold;
  margin-top: 47px;
  margin-bottom: 47px;
}

.care {
  background: white;
  padding: 2.5em;
  margin-top: 10px;
  min-height: 39em;
  box-shadow: 0px 0px 5px 0px #cdcdce;
  padding-bottom: 3em;
  overflow: hidden;
  border: 1px solid #ecedef;
  padding-top: 1em;
}

.care h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #11151d;
}

.care h4 {
  font-size: 16px;
  font-weight: bold;
  color: #252828;
  margin-top: 5px;
}

.care p {
  margin-top: 10px;
  font-size: 15px;
  color: #7f7f7f;
  font-weight: lighter;
}

.care h4 hr {
  margin-top: 7px;
  margin-bottom: 0px;
  border: 2px solid #ff9837;
  width: 22px;
}

.btn-warranty {
  margin-left: 20px;
  margin-top: 15px;
  background: #ff9837;
  color: white !important;
  padding: 10px 20px;
  border-radius: 31px;
  font-weight: bold;
}

.subscribe {}

.subscribe h2 {
  text-align: left;
  font-size: 32px;
  font-weight: bolder;
}

.subscribe input {
  height: 51px;
  margin-top: 10px;
}

.subscribe button {
  background: #ff9837;
  width: 100%;
  height: 53px;
  color: #fff !important;
  font-size: 18px;
  margin-top: 10px;
}

.subscribe p {
  text-align: center;
  margin-top: 25px;
  color: #7f7f7f;
  font-size: 14px;
  margin-bottom: 20px;
}

footer {
  background: #464646;
  padding-top: 2em;
  padding-bottom: 2em;
}

footer h2 {
  font-size: 20px;
  font-weight: bold;
  color: #b9b9b9;
}

footer h2 hr {
  margin-top: 5px;
  border-top: 1px solid #ff9837;
  width: 55px;
}

footer a {
  color: #fff !important;
  font-size: 14px;
  padding-left: 0px !important;
  padding-top: 10px;
  display: block;
}

footer p {
  font-size: 14px;
  color: #fff;
  margin-top: 2em;
}

footer p i {
  color: #ff9837;
  font-size: 16px !important;
}

footer h4 {
  color: #11151d;
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}

footer h5 {
  color: #fff;
  font-size: 15px;
}

.contact-wrapper {
  padding-top: 7em;
  padding-bottom: 4em;
}

.contact-us {
  border-bottom: 1px solid #f3f3f3 !important;
  padding-bottom: 5px;
  padding-top: 10px;
}

/* enable absolute positioning */

.inner-addon {
  position: relative;
}

/* style icon */

/* align icon */

/* add padding  */

.left-addon input {
  padding-left: 30px;
}

.right-addon input {
  padding-right: 93px;
  height: 45px;
}

.footer-bottom {
  background: #5a5a5a;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid white;
}

.footer-bottom p {
  margin: 0px;
  color: #fff;
  display: inline-block;
  margin-left: 20px;
}

.footer-bottom a {
  color: #ff9837;
  font-size: 20px;
  text-decoration: none;
  margin: 5px;
}

nav.sub-head {
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
}

nav.sub-head .navbar-brand {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 27.53px;
  color: #f08f34;
  margin-top: 10px;
}

.sub-head .search {
  height: 51px;
  margin-top: 10px;
}

.sub-head .inner-addon {
  margin-top: 10px;
}

.sub-head .right-addon .glyphicon {
  right: 10px;
}

.sub-head .navbar-toggle .icon-bar {
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 1px;
  background: #f08f34;
}

.sub-head .navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #7f7f7f;
  font-size: 16px;
}

.sub-head .navbar-nav>li>a: {}

.sub-head li a:hover, .sub-head li a:focus {
  text-decoration: none;
  background: none;
}

.navbar-nav {
  margin-top: 5px;
}

.user-image {
  margin-left: 20px;
  margin-top: 1px;
}

.user-image img {
  width: 45px;
  height: 45px;
}

.page-name {
  text-align: center;
  margin-top: 15px;
  background: url(../../images/page-header-bg.png);
  min-height: 148px;
  margin-top: 6em;
}

.page-name p {
  font-size: 16px;
  color: #222222;
  margin-top: 2em;
}

.page-name h2 {
  margin-top: 11px;
  color: #fff;
  font-weight: bold;
  font-size: 32px;
}

.form-warranty {
  box-shadow: 0px 4px 8px 0px #25252582;
  padding: 15px;
  margin-top: 3em;
  margin-bottom: 3em;
}

.form-warranty h2 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.form-warranty h4 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  color: #000000;
  margin-bottom: 20px;
}

.form-warranty .form-control {
  min-height: 51px;
  margin-top: 0px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: none;
  background-image: none;
}

/* Custom Select */

.select {
  position: relative;
  display: block;
  border: 1px solid #bfbfbf;
  width: 100%;
  height: 51px;
  line-height: 3;
  background: none;
  overflow: hidden;
  border-radius: .25em;
}

select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #928d89;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/* Arrow */

.select::after {
  content: '\25BC';
  position: absolute;
  top: -5px;
  right: -6px;
  font-size: 19px;
  bottom: 0;
  padding: 0 1em;
  background: none;
  pointer-events: none;
  color: #8e8b8b;
}

/* Transition */

.select:hover::after {
  color: #f39c12;
}

.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.form-warranty .form-group {
  margin-bottom: 20px;
}

/*///////////////////////////
     inputfile strat
///////////////////////////*/

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile-1+label {
  color: #797d7f;
  font-size: 15px !important;
  background-color: #ffffff;
}

.inputfile+label {
  max-width: 80%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
}

.inputfile+label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

/*///////////////////////////
     inputfile end
///////////////////////////*/

.form-warranty p {
  margin-top: 1em;
  font-size: 15px;
  color: #797d7f;
}

.container1 {
  text-align: center;
  display: block;
  margin-top: 15px;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */

.container1 input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 0;
  left: 34%;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #b3b3b3;
}

/* On mouse-over, add a grey background color */

.container1:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.container1 input:checked~.checkmark {
  background-color: #ff9837;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.container1 input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.container1 .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

a {
  color: #ffa550;
  text-decoration: none;
}

.btn-Register {
  font-weight: bold;
  color: #fff !important;
  background: #f08f34;
  padding: 10px 70px;
  margin-top: 20px;
  font-size: 18px;
  margin-bottom: 1em;
}

/* adjust body when menu is open */

body.slide-active {
  overflow-x: hidden
}

.navbar-inverse {
  background: none;
  border: 0px;
  transition: all 0.45s ease;
  background: #fff;
}

.affix .navbar-brand {
  padding-top: 10px !important;
}

/*first child of #page-content so it doesn't shift around*/

.no-margin-top {
  margin-top: 0px !important
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */

#page-content {
  position: relative;
  padding-top: 70px;
  left: 0;
}

#page-content.slide-active {
  padding-top: 0
}

.navbar-inverse .navbar-brand {
  color: #9d9d9d;
  padding: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* put toggle bars on the left :: not using button */

#slide-nav .navbar-toggle {
  cursor: pointer;
  position: relative;
  line-height: 0;
  float: right;
  margin: 0;
  width: 30px;
  z-index: 99;
  height: 40px;
  padding: 10px 0 0 0;
  border: 0;
  background: transparent;
}

/* icon bar prettyup - optional */

#slide-nav .navbar-toggle>.icon-bar {
  width: 100%;
  display: block;
  height: 3px;
  margin: 5px 0 0 0;
}

#slide-nav .navbar-toggle.slide-active .icon-bar {
  background: orange
}

.navbar-header {
  position: relative
}

/* un fix the navbar when active so that all the menu items are accessible */

.navbar.navbar-fixed-top.slide-active {
  position: relative
}

.contact-us .navbar-nav>li>a {
  color: #000000;
  padding: 5px 20px;
  font-family: sofia_prolight;
  font-size: 16px;
}

.contact-us .login li a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  padding: 6px;
}

.contact-us .li-divide {
  border-right: 2px solid #000000;
  padding-right: 10px !important;
}

.contact-us .navbar-toggle .icon-bar {
  background-color: #ff9837;
}

.contact-left {
  padding: 20px;
}

.contact-left h2, .contact-right h2 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 1em;
}

.contact-left h2 hr {
  margin-top: 10px;
  border-top: 3px solid #ff9837;
  width: 44px;
}

.contact-left h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 2em;
}

.contact-left p {
  color: #7f7f7f;
}

.contact-left a {
  font-size: 20px;
  margin: 7px;
  color: #7f7f7f;
  text-decoration: none;
}

.contact-left a:hover {
  color: #ff9837;
}

.contact-right {
  padding: 20px;
  box-shadow: 1px 1px 24px -1px #c3bcbc;
}

.form-control {
  display: block;
  width: 100%;
  height: 51px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.contact-right .btn-submit {
  margin-top: 0px !important;
  background: #ff9837;
  color: white;
  font-size: 18px;
  padding: 8px 27px;
}

.affix .navbar-nav>li>a {
  color: #fff !important;
}

.affix .login li a {
  color: #fff;
}

.affix .navbar-inverse {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.blog-wrapper {
  padding-top: 4.5em;
  position: relative;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  color: #000;
  background-color: transparent;
}

.pinto {
  box-sizing: border-box;
}

.pinto {
  margin-bottom: 15px;
  color: #333;
  text-align: left;
  border-radius: 0px;
  overflow: hidden;
}

.pinto img {
  display: block;
  width: 100%;
}

.pinto .info {
  background-color: #fff;
  padding-top: 15px;
}

.pinto .info h2 {
  margin: 0;
  font-size: 17px;
  font-weight: bold;
  color: #2c3033;
}

.pinto .info p {
  margin: 10px 0 0;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  line-height: 26px;
  font-weight: lighter;
  color: #6d7074;
}

.blog-right {
  height: 100vh;
  overflow-y: scroll;
  padding-top: 1em;
}

.blog-left {
  height: 100vh;
}

.blog-left img {
  width: 100%;
  height: 100vh;
}

.blog-right::-webkit-scrollbar {
  display: none;
}

.blog-details {
  text-align: center;
  padding: 10px;
}

.blog-details h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  line-height: 44px;
}

.blog-details p {
  font-size: 16px;
  color: #7f7f7f;
  line-height: 39px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 1em;
}

.blog-details p span {
  font-style: italic;
  color: #ff9837;
}

.blog-user-details img {
  margin-top: 1em;
  width: 75px;
  height: 75px;
}

.blog-user-details h3 {
  font-size: 18px;
  color: #ff9837;
  text-transform: uppercase;
  font-weight: bold;
}

.blog-user-details h4 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.blog-user-details h5 {
  font-size: 16px;
  color: #a7a7a7;
  margin-top: 20px;
}

.blog-user-details h5 img {
  display: block;
  margin: auto;
  width: 27px;
  height: 14px;
  margin-top: 6px;
  -webkit-animation: mymove 5s infinite;
  /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
  position: relative;
}

.blog-connect {
  margin-top: 15px;
}

.blog-connect a {
  font-size: 20px;
  padding: 4px;
  color: #ffa550 !important;
  text-decoration: none;
}

.Searched-lists {
    margin-top: 5em;
}

.Searched-lists h2  {
    font-size: 32px;
    font-weight: bold;
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes mymove {
  0% {
    top: 0px;
  }
  25% {
    top: 10px;
  }
  75% {
    top: 10px
  }
  100% {
    top: 10px;
  }
}

/* Standard syntax */

@keyframes mymove {
  0% {
    top: 0px;
  }
  25% {
    top: 10px;
  }
  75% {
    top: 10px
  }
  100% {
    top: 10px;
  }
}

.pinto .info h4 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 0px;
  text-transform: uppercase;
  color: #c5c7ca;
}

.btn-loadmore {
  background: none;
  border: 2px solid #c8ccce;
  border-radius: 33px;
  font-size: 16px;
  margin-bottom: 10px;
  color: #797d7f;
  font-weight: bold;
  padding: 5px 20px;
}

.btn-loadmore:hover {}


.affix  .user-image img {
  margin-top: 8px;
  width: 30px;
  height: 30px;
  }


.xs-user-img {
    text-align: left;
    margin: 15px;
}

.xs-user-img img {
    width: 60px;
    height: 60px;
    border: 3px solid #fffefe;
}


.affix .sub-head .inner-addon {
    margin-top: 12px;
}


.affix   .inner-addon .glyphicon {
    color: #313232;
    position: absolute;
    padding: 10px;
    right: 10px;
    pointer-events: none;
    top: -3px;
    font-size: 20px;
}

.affix  .right-addon input {
    padding-right: 93px;
    height: 35px;
}


.affix  .inner-addon {
    position: relative;
    margin-top: 7px;
}


.affix  .navbar-nav {
    margin-top: 8px;
}

.affix { border: 0px !important; }


/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */

@media (max-width:767px) {
  #slide-nav .container {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
  }
  #slide-nav .navbar-header {
    margin: 0 auto;
  }
  #slide-nav .navbar.slide-active {
    position: absolute;
    width: 80%;
    top: -1px;
    z-index: 1000;
  }
  #slide-nav #slidemenu {
    background: #f7f7f7;
    left: -100%;
    width: 80%;
    min-width: 0;
    position: absolute;
    padding-left: 0;
    z-index: 2;
    top: -8px;
    margin: 0;
  }
  #slide-nav #slidemenu .navbar-nav {
    min-width: 0;
    width: 100%;
    margin: 0;
  }
  #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
    min-width: 0;
    width: 80%;
    white-space: normal;
  }
  #slide-nav {
    border-top: 0
  }
  #slide-nav.navbar-inverse #slidemenu {
    background: #333
  }
  /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
  #navbar-height-col {
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 80%;
    left: -80%;
    background: #f7f7f7;
  }
  #navbar-height-col.inverse {
    background: #333;
    z-index: 1;
    border: 0;
  }
  #slide-nav .navbar-form {
    width: 100%;
    margin: 8px 0;
    text-align: center;
    overflow: hidden;
    /*fast clearfixer*/
  }
  #slide-nav .navbar-form .form-control {
    text-align: center
  }
  #slide-nav .navbar-form .btn {
    width: 100%
  }
}

@media (min-width:768px) {
  #page-content {
    left: 0 !important
  }
  .navbar.navbar-fixed-top.slide-active {
    position: fixed
  }
  .navbar-header {
    left: 0 !important
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

@media (max-width: 1190px) {
  .banner-inner {
    width: 80%;
    padding-left: 3em;
  }
}

@media (max-width: 768px) {
  .blog-details p {
    font-size: 14px;
    color: #7f7f7f;
    line-height: 39px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1em;
  }
  .blog-details h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
  }
  .blog-right {
    padding: 2em 1em;
    height: auto;
    overflow: scroll;
  }
  .sep {
    margin-top: 0px !important;
  }
  .xs-join {
    margin-left: -47px;
  }
  .xs-login {
    background: none;
    border: 1px solid white;
    color: #fff !important;
    border-radius: 38px;
    0.625rem 0: 10px 37px width:;
    width: 60%;
    margin-top: 10px;
    padding: 8px;
    font-size: 17px;
  }
  .banner-left:before {
    background: red;
  }
  .nav-close {
    margin: 5px;
    background: none;
    color: #b3a7a7 !important;
    font-size: 30px;
  }
  .navbar-inverse .navbar-nav>li>a:hover {
    background: #3c3c3c;
  }
  .navbar-inverse .navbar-nav>li>a:nth-last-child(1) {
    border-bottom: 1px solid #4e4e4e;
  }
  .navbar-inverse .navbar-nav>li>a {
    color: #fff !important;
    padding: 15px;
    font-family: sofia_prolight;
    font-size: 16px;
    border-top: 1px solid #4e4e4e;
  }
  .user-image img {
    width: 30px;
    height: 30px;
    margin-top: 4px;
  }
  .sub-head .navbar-collapse {
    background: whitesmoke;
    border-bottom: 1px solid #cccccc;
  }
  .sub-head .col-sm-4 {
    padding: 0px;
  }
  .sub-head .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #7f7f7f;
    font-size: 16px;
    border-bottom: 1px solid #e6e6e6;
  }
  .sub-head .navbar-nav {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .more .btn-more {
    letter-spacing: 2px;
    font-family: sofia_prolight;
    font-size: 13px;
    color: #797d7f;
    background: white;
    border-radius: 37px;
    border: 2px solid #c8ccce;
    margin-top: 30px;
    font-weight: bold;
    padding: 8px 19px;
    transition: all .3s ease-in-out;
    margin-bottom: 30px;
  }
  .Categories h2 {
    font-size: 24px;
  }
  .Innstal-works h2 {
    font-size: 24px
  }
  .subscribe h2 {
    font-size: 24px
  }
  .banner-left:before {
    display: none;
  }
  .banner-inner {
    width: 80%;
    padding-left: 3em;
  }
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #e7e7e7;
    background: #444444eb;
    margin-top: 10px;
  }
  .banner-right, .banner-left {
    width: 100%;
  }
  .login {
    float: right !important;
    text-align: center;
    margin-bottom: 10px;
  }
  .login li a {
    font-size: 23px;
  }
  .banner h2 {
    font-size: 30px;
  }
  .banner p {
    font-size: 13px;
  }
  .navbar-inverse {}
  .banner-inner {
    width: 80%;
    padding-left: 2em;
  }
}

@media (max-width: 460px) {
  .blog-details h2 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 1em;
  }
  .banner h2 {
    font-size: 26px;
  }
  .banner-inner {
    width: 80%;
    padding-left: 10px;
  }
  .btn-Register {
    padding: 10px 20px;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 11%;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 1px solid #b3b3b3;
  }
}
