@font-face {
    font-family: 'sofiapro';
    src: url('../fonts/sofiapro-light.otf');
}
body{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'sofiapro';
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}
.img-responsive{
    max-width: 100%;
    position: relative;
    display: block;
}
.text-theme{
    color: #fe9738;
}
a{
    color: #fe9738;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}
a:hover,
a:focus,
a:active{
    color: #eb852d;
}
.btn{
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    outline: none;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active{
    outline: none;
}
.head-title{
    margin-bottom: 55px;
}
.btn-outline-warn{
    background-color: transparent;
    border:1px solid #fe9738;
    color: #fe9738;
    border-radius: 100px;
    min-width: 150px;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}
.btn-outline-warn:hover,
.btn-outline-warn:focus{
    background-color: #fe9738;
    border:1px solid #fe9738;
    color: #ffffff;
    border-radius: 100px;
}
.b-curve{
    border-radius: 5px !important;
}
.btn-icons {
    background-color: transparent;
    color: #969595;
    padding: 5px;
    line-height: 1;
    text-decoration: none;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}
.btn-icons:hover,
.btn-icons:focus
.btn-icons:active,
.btn-icons.active {
    background-color: transparent;
    color: #fe9738;
    text-decoration: none;
}
.btn-link-secondary {
    background-color: transparent;
    color: #949393;
    font-size: 20px;
}
.btn-link-secondary:hover,
.btn-link-secondary:focus{
    color: #da751e;
}
.btn-secondary {
    background-color: #969595;
    color: #3c3a3a;
    font-weight: 600;
    text-decoration: none;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}
.btn-secondary:hover,
.btn-secondary:focus
.btn-secondary:active,
.btn-secondary.active {
    background-color: #363636;
    color: #ffffff;
    text-decoration: none;
}
.btn-theme {
    background-color: #fe9738;
    color: #fff;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}
.btn-theme:hover,
.btn-theme:focus{
    background-color: #da751e;
    color: #fff;
}
.text-lg{
    font-size: 18px;
}
.width-pixer{
    padding: 7px 35px;
}
/* CHECKBOX STYLE */
.cs-checkbox{
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.cs-checkbox label{
    color: #fe9738;
    font-weight: 600;
    padding-left: 0px;
}
.cs-checkbox input[type=checkbox] ~ label .cs-checkbox-input{
    margin-right: 7px;
}
.cs-checkbox input[type=checkbox] ~ label .cs-checkbox-input::after {
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: rgb(255, 255, 255);
    content: '';
    z-index: 111;
    height: 11px;
    width: 11px;
    border-radius: 2px;
}
.cs-checkbox input[type=checkbox]:checked ~ label .cs-checkbox-input::after {
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: #fe9738;
    content: '';
    z-index: 111;
    height: 11px;
    width: 11px;
    border-radius: 2px;
}
.cs-checkbox .cs-checkbox-input{
    position: relative;
    display: inline-block;
    height: 17px;
    width: 17px;
    border-radius: 3px;
    border: 1px solid #fe9738;
    background-color: #ffffff;
    content: '';
    vertical-align: middle;
}
  .custom-radio {
    display: none;
  }
  .custom-radio + label {
    font-weight: normal;
    cursor: pointer;
  }
  .custom-radio + label span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    border: 1px solid #2196F3;
  }
  .custom-radio + label span::before {
    content: "";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    width: 9px;
    height: 9px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #2196F3;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .custom-radio:checked + label span::before {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  .custom-radio:disabled + label {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }
  .custom-radio:disabled + label, .custom-radio:disabled + label span {
    cursor: default;
  }
  
  .custom-checkbox {
    display: none;
  }
  .custom-checkbox + label {
    font-weight: normal;
    cursor: pointer;
  }
  .custom-checkbox + label span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: relative;
    border: 1px solid #009688;
  }
  .custom-checkbox + label span::before {
    content: "";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    width: 9px;
    height: 9px;
    background-color: #009688;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .custom-checkbox:checked + label span::before {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  .custom-checkbox:disabled + label {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }
  .custom-checkbox:disabled + label, .custom-checkbox:disabled + label span {
    cursor: default;
  }
  
  .chkbx-toggle {
    display: none;
  }
  .chkbx-toggle + label {
    position: relative;
    cursor: pointer;
    outline: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 40px;
    height: 20px;
    background-color: #e4e4e4;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
  }
  .chkbx-toggle + label::before, .chkbx-toggle + label::after {
    content: "";
    display: block;
    position: absolute;
  }
  .chkbx-toggle + label::before {
    right: 1px;
    left: 1px;
    top: 1px;
    bottom: 1px;
    background-color: #fe9738;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
  }
  .chkbx-toggle + label::after {
    top: -1px;
    left: 0;
    width: 24px;
    height: 24px;
    background-color: #F1F1F1;
    border: 2px solid #fe9738;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .chkbx-toggle:checked + label {
    background-color: #fe9738;
  }
  .chkbx-toggle:checked + label::before {
    background-color: #fe9738;
  }
  .chkbx-toggle:checked + label::after {
    left: 100%;
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .chkbx-toggle:disabled + label {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    cursor: default;
  }
  .toggle-btn{
      vertical-align: middle;
      color: #a5a5a5;
  }
  .toggle-btn.on{
    color: #000000;
    font-weight: 700;
  }
  .toggle-on{
    left: -145px;
    position: relative;
    color: #a5a5a5;
    font-weight: 700;
  }
  .toggle-off{
    left: -93px;
    position: relative;
  }
  .custom-checkbox-bx{
    max-width: 230px;
    margin: 0px auto;
    margin-bottom: 15px;
    right: -90px;
    position: relative;
  }

/* CHECKBOX STYLE END */
.btn-sm-wl{
    padding: 5px 20px;
    min-width: 120px;
}
.custome-uplode-file {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
}
.custome-uplode-file .input-form-upload {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0px;
    left: 0px;
    cursor: pointer;
    opacity: 0;
}
.custome-uplode-file .input-form-upload + .btn-theme,
.custome-uplode-file .input-form-upload + .btn-theme{
    color: #fff;
    padding: 5px 20px;
}
.custome-uplode-file .input-form-upload:hover + .btn-theme,
.custome-uplode-file .input-form-upload:focus + .btn-theme{
    background-color: #da751e;
    color: #fff;
    padding: 5px 20px;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 700;
}
.sub-title{
    color: #a5a5a5;
    margin-bottom: 20px;
}
.sub-title a{
    color: #a5a5a5;
    text-decoration: underline;
}
.btn-outline-theme{
    color: #fe9738;
    background-color: #ffffff;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}
.btn-outline-theme:hover,
.btn-outline-theme:focus,
.btn-outline-theme:active{
    background-color: #fe9738;
    color: #ffffff;
}
.btn-round{
    border-radius: 100px;
    min-width: 150px;
}
.form-control{
    height: 45px;
    padding: 10px;
}
.input-group button,
.input-group input[type=button],
.input-group input[type=submit]{
    height: 45px;
}
.section,
.content-section{
    display: block;
    position: relative;
    width: 100%;
}
.content-section{
    margin-top: 72px;
}
.content-box{
    padding: 15px 0px;
    margin-top: 60px !important;
    margin-bottom: 60px !important;
    display: block;
    position: relative;
}
.header{
    background-color: #ffffff;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}
.header,
.footer{
    display: block;
    position: relative;
    padding: 0px;
    margin: 0px;
}
.header.nmr{
    display: block;
    position: fixed;
    padding: 15px 0px;
    margin: 0px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    z-index: 10000;
    top: 0px;
    left: 0px;
}
.container-lg{
    width: 100%;
    max-width: 95%;
    margin: 0px auto;
    padding: 0px 15px;
}
.container-cs{
    width: 100%;
    max-width: 75%;
    margin: 0px auto;
    padding: 0px 15px;
}
.nav-innstal{
    list-style: none;
    position: relative;
    display: block;
    float: right;
    margin: 0px;
    padding: 0px;
}
.nav-innstal li{
    position: relative;
    display: inline-block;
    color: #000000;
    padding: 10px 25px;
}
.nav-innstal li > a{
    position: relative;
    display: inline-block;
    color: #000000;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}
.nav-innstal li.active > a{
    position: relative;
    display: inline-block;
    color: #eb852d;
}
.nav-innstal li .split-nav a{
    position: relative;
    display: inline-block;
    color: #000000;
    text-align: center;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}
.nav-innstal li > a:hover,
.nav-innstal li .split-nav a:hover,
.nav-innstal li > a:focus,
.nav-innstal li .split-nav a:focus{
    color: #eb852d;
    text-decoration: none;
}
.seperator{
    display: inline-block;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}
.user{
    margin-right: 5px;
}
.logo-bx{
    position: relative;
    display: inline-block;
    margin-top: 5px;
}
.banner{
    display: block;
    position: relative;
    width: 100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 170px;
}
.content-overlay{
    background-color: #fe8e38dc;
    color: #ffffff;
    font-size: 30px;
    padding: 60px 15px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
}
.footer{
    background-color: #464646;
    margin-left: -15px;
    margin-right: -15px;
}
.footer-section{
    background-color: transparent;
    padding: 30px 20px;
    display: block;
    position: relative;
}
.title-with-brder{
    display: inline-block;
    position: relative;
    color: #292929;
}
.title-with-brder::after{
    margin: 5px auto;
    width: 90%;
    height: 1px;
    background-color: #fe9738;
    content: '';
    display: block;
    position: relative;
}
.title-bsx {
    padding: 0px 10px;
    position: relative;
    display: block;
}
.footer-head{
    display: inline-block;
    position: relative;
    color: #b8b8b8;
}
.footer-head::after{
    margin: 5px auto;
    width: 80%;
    height: 1px;
    background-color: #fe9738;
    content: '';
    display: block;
    position: relative;
}
.footer-links{
    list-style: none;
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
}
.footer-links li{
    display: block;
    position: relative;
    color: #e0e0e0;
    font-weight: 400;
    padding-bottom: 5px;
    padding-top: 5px;
}
.footer-links li a{
    display: inline-block;
    position: relative;
    color: #e0e0e0
}
.footer-copyrights{
    background-color: #464646;
    background-image: url('../img/bg_foot_gradint.png');
    background-position: top left;
    padding: 15px 0px;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    font-size: 18px;
}
.footer-copyrights span{
    font-size: 14px;
}
.footer-social{
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    float: right;
    list-style: none;
}
.footer-social li{
    display: inline-block;
    position: relative;
    margin: 0px;
    padding: 0px 10px;
    list-style: none;
}
.footer-social li a{
    display: inline-block;
    position: relative;
    color: #fe9738;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}
.footer-social li a:hover,
.footer-social li a:focus{
    display: inline-block;
    position: relative;
    color: #ffffff;
    text-decoration: none;
}
.footer-cnt{
    list-style: none;
    margin-bottom: 0px;
    display: block;
    position: relative;
    padding: 0px;
}
.footer-cnt li{
    padding-left: 30px;
    display: block;
    position: relative;
    margin-bottom: 40px;
    margin-top: 10px;
    color: #ffffff;
    font-weight: 400;
}
.footer-cnt li:before {
    content: "\e909";
    font-family: 'icomoon' !important;
    position: absolute;
    left: 0px;
    top: 0px;
    color: #fe9738;
    font-size: 20px;
    line-height: 1;
    vertical-align: middle;
  }
  .footer-cnt li.envolop-icon:before {
    content: "\e909";
  }
  .footer-cnt li.mapmark-icon:before {
    content: "\e908";
  }
  .white-txt{
      color: #ffffff;
      font-weight: 400;
  }
  .grid-cntent{
      display: block;
      position: relative;
      width: 100%;
      list-style: none;
      margin: 0px;
      margin-bottom: 30px;
      padding: 0px;
      text-align: center;
  }
  .grid-cntent li{
    display: inline-block;
    position: relative;
    list-style: none;
    margin: 10px;
}
.grid-cntent li .grid-text{
    position: absolute;
    z-index: 1;
    color: #ffffff;
    font-weight: 400;
    top: 10px;
    left: 10px;
    font-size: 24px;
    background-color: #00000015;
    padding: 0px 18px;
    vertical-align: middle;
    
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}
.grid-cntent li:hover .grid-text.bottom,
.grid-cntent li:hover .grid-text {
    position: absolute;
    z-index: 1;
    color: #ffffff;
    font-weight: 400;
    top: 0px;
    left: 0px;
    bottom: initial;
    right: initial;
    background-color: #eb822dc0;
    height: 100%;
    width: 100%;
    padding: 30px 30%;
}
.grid-cntent li .grid-text.bottom{
    position: absolute;
    z-index: 1;
    color: #ffffff;
    font-weight: 400;
    top: initial;
    left: initial;
    bottom: 10px;
    right: 10px;
}
.img-grid{
    max-height: 400px;
    display: block;
    position: relative;
    border: 1px solid #000000;
    max-width: 100%;
}
.menu{
    float: right;
    display: none;
    position: relative;
}
.image-cmnt-bx{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 65%;
    z-index: 0;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.qoutsbx{
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    position: relative;
    padding: 80px 15px;
}
.cmnt-bx {
    display: block;
    position: relative;
    background-color: #ffffff;
    padding: 40px;
    padding-top: 90px;
    font-size: 16px;
}
.cmnt-bx::after{
    background: #fe973859;
    position: absolute;
    width: 98%;
    height: 100%;
    top: 0px;
    left: 15px;
    content: '';
    z-index: -1;
    filter: blur(20px);
}
.qouts-txt{
    line-height: 40px;
    color: #a5a5a5;
    margin-bottom: 40px;
}
.qouts-nameuser{
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 13px;
}
.qouts-namecmpny{
    color: #a5a5a5;
    font-size: 13px;
}
.icon-qouts{
    content: url('../img/cmnt-icon.png');
    position: absolute;
    top: 35px;
    left: 40px;
}
.pricing-plan-group {
    display: block;
    position: relative;
    margin-top: 85px;
}
.pricing-plan{
    display: block;
    position: relative;
    border: 1px solid #e0e0e0;
    margin-bottom: 15px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
}
.pricing-plan.active{
    display: block;
    position: relative;
    top: -28px;
}
.pricing-plan.active .pricing-head{
    background-color: #ff9839;
    color: #ffffff;
    display: block;
    position: relative;
    padding: 30px 15px;
    min-height: 180px;
}
.pricing-plan.active .plan-mode{
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}
.pricing-plan.active .plan-pricing{
    font-size: 30px;
    color: #ffffff;
    display: block;
    position: relative;
    line-height: 1;
}
.pricing-plan.active .plan-pricing span{
    font-size: 80px;
    color: #ffffff;
}
.pricing-plan.active .plan-period{
    font-size: 20px !important;
    color: #ffffff;
}
.pricing-plan.active .pricing-body {
    display: block;
    position: relative;
    color: #989292;
}
.pricing-plan.active .pricing-body .td-cntnt{
    padding: 15px 17%;
}
.pricing-plan.active .pricing-body .td-cntnt:first-child{
    min-height: 150px;
    padding: 45px 17%;
}
.pricing-plan.active .pricing-footer{
    min-height: 180px;
    padding: 45px 17%;
    padding-top: 80px;
    padding-bottom: 50px;
}
.pricing-plan.active .pricing-footer .btn-outline-warn{
    background-color: #fe9738;
    border:1px solid #fe9738;
    color: #ffffff;
    border-radius: 100px;
    min-width: 150px;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}
.pricing-plan.active .pricing-footer .btn-outline-warn:hover,
.pricing-plan.active .pricing-footer .btn-outline-warn:focus{
    background-color: transparent;
    border:1px solid #fe9738;
    color: #fe9738;
    border-radius: 100px;
}
.pricing-plan.active .pricing-body .td-cntnt:nth-child(2n){
    background-color: #ebebeb;
}

.pricing-plan .pricing-head{
    background-color: #303030;
    color: #ff9839;
    display: block;
    position: relative;
    padding: 15px 15px;
}
.pricing-plan .plan-mode{
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}
.pricing-plan .plan-pricing{
    font-size: 30px;
    color: #cf8136;
    display: block;
    position: relative;
    line-height: 1;
}
.pricing-plan .plan-pricing span{
    font-size: 80px;
    color: #fea551;
}
.pricing-plan .plan-period{
    font-size: 20px !important;
    color: #cf8136;
}
.pricing-plan .pricing-body {
    display: block;
    position: relative;
    color: #989292;
}
.pricing-plan .pricing-body .td-cntnt{
    padding: 15px 17%;
}
.pricing-plan .pricing-body .td-cntnt:first-child{
    min-height: 150px;
    padding: 45px 17%;
}
.pricing-plan .pricing-footer{
    min-height: 150px;
    padding: 45px 17%;
    padding-top: 80px;
}
.pricing-plan .pricing-body .td-cntnt:nth-child(2n){
    background-color: #ebebeb;
}

/* DASHBOARD */

.side-nav{
    background-color: #ff9937;
    position: fixed;
    height: 100%;
    width: 100%;
    display: block;
    z-index: 1000;
    max-width: 280px;
}
.dashboard-logobx {
    min-height: 70px;
    display: block;
    position: relative;
    margin-bottom: 5px;
}
.dashboard-logobx a{
    display: block;
    position: relative;
    padding: 30px 25px;
    width: 100%;
}
.dashboard-logobx a .dash-logo{
    margin: 0px auto;
    display: block;
    position: relative;
}
.side-nav-usersec{
    display: block;
    position: relative;
    padding: 0px;
    margin: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ffbe80;
}
.dash-userimage{
    display: block;
    position: relative;
    margin: 0px;
}
.dash-userimage .dash-userimg{
    display: block;
    position: relative;
    margin: 0px auto;
    max-height: 70px;
    border-radius: 100%;
}
.dash-userimage .dash-user-name{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    padding-right: 20px;
    text-align: center;
    position: relative;
}
.settings-icon a{
    color: #ffffff;
    text-decoration: none;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}
.settings-icon a:hover{
    color: #da751e;
    text-decoration: none;
}
.settings-icon{
    position: absolute;
    top: 5px;
    right: 10px;
}
.dash-menubx{
    list-style: none;
    position: relative;
    display: block;
    margin: 0px;
    margin-top: 30px;
    padding: 0px;
}
.dash-menubx.absolute-fix{
    position: absolute;
    z-index: 100;
    bottom: 20px;
    margin-top: 0px;
}
.dash-menubx li{
    display: block;
    position: relative;
    border-left: 4px solid transparent;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}
.dash-menubx li:hover,
.dash-menubx li.active{
    display: block;
    position: relative;
    border-left: 4px solid #ffffff;
}
.dash-menubx li a{
    display: block;
    position: relative;
    padding: 15px;
    font-weight: 700;
    padding-left: 40px;
    color: #ffffff;
    text-decoration: none;
}
.dash-menubx li a .icon-menubar {
    position: absolute;
    left: 10px;
    top: 15px;
    font-weight: 500;
    font-size: 20px;
}
.dash-content{
    padding-left: 300px;
    margin-top: 100px;
    padding-right: 15px;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}
.dash-body{
    background-color: #f8f9fb;
    overflow-x: hidden; 
}
.top-navbx {
    position: fixed;
    left: 280px;
    top: 0px;
    z-index: 10000;
    right: 0px;
    padding: 15px 20px;
    background-color: #f8f9fb;
}
.user-info-bx{
    display: inline-block;
    position: relative;
}
.user-info-bx span:first-child{
    display: inline-block;
    position: relative;
    font-size: 22px;
    font-weight: 700;
}
.user-info-bx span:last-child{
    display: inline-block;
    position: relative;
    color: #b8b8b8;
    font-weight: 700;
}
.user-topmenu {
    float: right;
    padding: 15px;
    display: inline-block;
    position: relative;
    color: #2eabcc;
}
.widger-sector{
    background-color: #ffffff;
    box-shadow: 0px 0px 20px #0000000a;
    display: block;
    position: relative;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 20px;
}
.notify-list {
    list-style: none;
    padding: 0px;
    margin: 0px -15px;
    display: block;
    position: relative;
    max-height: 800px;
    overflow-y: auto;
}
.notify-list li{
    list-style: none;
    padding: 10px 25px;
    margin: 0px;
    display: block;
    position: relative;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}
.notify-list li:not(:last-child){
   border-bottom: 1px solid #eaeaea;
}
.notify-list li a{
    margin: 0px;
    display: block;
    position: relative;
    text-decoration: none;
}
.notify-list li:hover{
    margin: 0px;
    display: block;
    position: relative;
    background-color: rgb(231, 231, 231);
}
.notify-list-head {
    margin-bottom: 5px;
    color: #6f6f6f;
    font-weight: 700;
    font-size: 16px;
}
.notify-list-date{
    color: #c3c3c3;
    margin-bottom: 5px
}
.menu-btn {
    position: fixed;
    display: none;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 10000;
    width: 100%;
}
.jqplot-title{
    text-align: left !important;
    margin-bottom: 15px; 
}
.chart-colorcom {
    position: relative;
    text-align: right;
    width: 100%;
    display: inline-block;
    color: #9c9c9c;
}
.color-spot {
    background: #b6b6b6;
    position: relative;
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 100px;
    vertical-align: middle;
}
.chart-colorcom.down {
   text-align: left;
}
.chart-colorcom.down ~ .jqplot-target .jqplot-title{
    text-align: left !important;
    margin-bottom: 25px; 
}
.chart-section-btn{
    margin-bottom: 15px;
    width: 100%;
    position: relative;
    display: block;
    text-align: center;
}
select.input-form{
    height: 25px;
    width: 100%;
    max-width: 200px;
    padding: 1px 7px;
    padding-right: 25px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ffffff;
    background-image: url('../img/dropdown2.png');
    background-position: center right 7px;
    background-repeat: no-repeat;
    background-size: 10px;
}
select.form-control{
    padding-right: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../../images/dropdown.png');
    background-position: center right 10px;
    background-repeat: no-repeat;
    background-size: 10px;
}
.input-form-chart{
    height: 30px;
    width: 100%;
    max-width: 200px;
    padding: 5px 7px;
    border: 1px solid #ccc;
}
.input-form-chart:focus{
    height: 30px;
    width: 100%;
    max-width: 200px;
    padding: 5px 7px;
    border: 1px solid #fea551;
}
select.input-form-chart{
    height: 30px;
    width: 100%;
    max-width: 200px;
    padding: 5px 7px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../img/dropdown.png');
    background-position: center right 7px;
    background-repeat: no-repeat;
    background-size: 10px;
}
.input-form-chart.calendar{
    background-image: url('../img/calendar.png');
    background-position: center right 7px;
    background-repeat: no-repeat;
    background-size: 20px;
}
.chart-common{
    width: 100% !important;
}
.grid-manualcard{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: block;
    text-align: center;
}
.grid-manualcard li{
    list-style: none;
    padding: 10px;
    margin: 0px;
    display: inline-block;
    max-width: 350px;
}
.grid-manualcard li .manual-card {
    display: inline-block;
    position: relative;
    width: 100%;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}
.grid-manualcard li .manual-card .manual-image{
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 5px;
}
.manual-img{
    max-width: 100%;
    display: block;
    position: relative;
}
.manula-card-btns{
    width: 100%;
    display: inline-block;
    padding: 5px;
}
.manula-card-btns button{
    margin-bottom: 5px;
}
.publish.btn-theme {
    background-color: #5e676f;
    color: #fff;
}
.publish-sticker {
    background-color: #fe9738;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    padding: 20px 5px;
    border-radius: 0px 0px 100%;
    color: #fff;
    font-size: 12px;
    min-width: 75px;
    text-align: left;
    height: 65px;
}
.nav-item.nav-link span {
    border: 1px solid #a9a9a9;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #464646;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}

.nav-item.nav-link{
    padding: 10px; 
}
.nav.nav-tabs li.active .nav-item.nav-link span,
.nav.nav-tabs li:hover .nav-item.nav-link span {
    border: 1px solid transparent;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
}
.manual-image .overlay-img{
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    transform: scale(0,0);
    -webkit-transform: scale(0,0);
    -moz-transform: scale(0,0);
    background-color: #fea551b2;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}
.manual-image:hover .overlay-img{
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #fea551b2;
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
}
.overlay-content {
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
    left: 0px;
    color: #fff;
    z-index: 100;
    font-size: 24px;
}
.widger-sector h6 {
    font-size: 16px;
}
.font-lsit{
    font-size: 14px;
    font-weight: 600;
}
.icon-font-lsit{
    color: #969696;    
}
.icon-font-lsit.theme{
    color: #fe9738;    
}
.b-curve.btn-block{
    min-width: 100%;
}
.claim-listbx .box-sect:not(:last-child){
    border-bottom: 1px solid #cccccc;
}
.claim-listbx .box-sect{
    padding-bottom: 15px;
    padding-top: 15px;
}
.wrrnty-name{
    color: #303030;
}
.innstal-modal {
    z-index: 10000;
}
.innstal-modal .modal-dialog {
    width: 86%;
    margin-right: 0px;
    margin-top: 0px;
}
.innstal-modal .close {
    position: absolute;
    left: -70px;
    background-color: #fff;
    opacity: 1;
    height: 50px;
    line-height: 1;
    width: 50px;
    border-radius: 100px;
    font-size: 42px;
    font-weight: 500;
    vertical-align: middle;
    color: #fe9738;
}
.innstal-modal .close > span[aria-hidden=true]{
    top: -3px;
    position: relative;
}
.innstal-modal .modal-content{
    border-radius: 0px;
}
.innstal-modal .modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0px 0px 20px #00000042;
}
.innstal-modal  .modal-body {
    position: relative;
    padding: 15px;
    background-color: #f1f1f1;
}
.detailbx {
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    padding: 15px 35px;
    display: block;
    position: relative;
    clear: both;
}
.detailbx-sect{
    display: block;
    position: relative;
    margin-bottom: 5px;
    font-size: 14px;
}
.label-lab {
    display: inline-block;
    position: relative;
    min-width: 150px;
}
.shadow{
    box-shadow: 0px 0px 10px #00000065;
}
.has-scroll{
    max-height: 400px;
    position: relative;
    overflow-y: auto;
    display: block;
}
.panel-topbx{
    color: #fe9738;
    font-weight: 600;
}
.panel-body.history{
    border-bottom: 1px solid #c3c3c3;
}
.content-panel{
    max-height: 400px;
    overflow-y: auto;
    display: block;
    position: relative;
    min-height: 300px;
    padding: 15px;
}
.panal-controls{
    border-top: 1px solid #cccccc;
    padding: 15px;
    display: block;
    position: relative;
}
.input-group-btn .btn-attach {
    background-color: transparent;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    color: #a2a2a2;
}
.input-group-btn .btn-attach:hover,
.input-group-btn .btn-attach:focus{
    color: #fea551;
}
.input-group-btn .btn-attach:last-child {
    background-color: transparent;
    border-right: 1px solid #ccc;
}
.dash-user-email{
    margin-bottom: 5px;
    font-size: 12px;
    color: #ffffff;
    text-align: center
}
.croppie-container{
    text-align: center;
}
.password-eye{
    position: relative;
}
.btn .password-eye::after{
    height: 2px;
    width: 18px;
    content: '';
    background-color: #a2a2a2;
    position: absolute;
    display: none;
    top: 8px;
    left: 0px;
    transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
}
.btn.active .password-eye::after{
    height: 2px;
    width: 18px;
    content: '';
    display: block;
    background-color: #a2a2a2;
    position: absolute;
    top: 8px;
    left: 0px;
    transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  height:350px;
}


/* DASHBOARD END */

/* MEDIA QUERY */
@media (min-width: 992px) and (max-width: 1300px){
    .split-col-md{
        width: 100%;
    }
}
@media (min-width: 992px) and (max-width: 1100px){
    .top-navbx {
        position: fixed;
        left: 220px;
        top: 0px;
        z-index: 10000;
        right: 0px;
        padding: 15px 20px;
        background-color: #f8f9fb;
    }
    .side-nav {
        background-color: #ff9937;
        position: fixed;
        height: 100%;
        width: 100%;
        display: block;
        z-index: 1000;
        max-width: 220px;
    }
    .dash-menubx.absolute-fix {
        position: relative;
        z-index: 100;
        bottom: 0px;
        margin-top: 0px;
    }
    .dash-menubx li a{
        display: block;
        position: relative;
        padding: 10px 15px;
        font-weight: 700;
        padding-left: 15px;
        color: #ffffff;
        text-decoration: none;
        font-size: 12px;
        text-align: center;
    }
    .dash-menubx li a .icon-menubar {
        position: relative;
        left: initial;
        top: initial;
        font-weight: 500;
        font-size: 30px;
        display: block;
        text-align: center;
    }
    .dash-content {
        padding-left: 240px;
        margin-top: 100px;
        padding-right: 15px;
        transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
    }
}
@media screen and (max-width: 991px){
    .innstal-modal .modal-header .btn span{
        display: none;
    }
    .b-curve.btn-block{
        min-width: 100%;
    }
    .dash-menubx{
        list-style: none;
        position: relative;
        display: block;
        margin: 0px;
        margin-top: 20px;
        padding: 0px;
    }
    .dash-menubx.absolute-fix{
        position: relative;
        z-index: 100;
        bottom: 20px;
        margin-top: 20px;
    }
    .dash-menubx li a{
        display: block;
        position: relative;
        padding: 13px 15px;
        font-weight: 700;
        padding-left: 0px;
        color: #ffffff;
        text-decoration: none;
    }
    .side-nav{
        background-color: #ff9937;
        position: fixed;
        height: 100%;
        width: 100%;
        display: block;
        z-index: 1000;
        max-width: 280px;
        left: -100%;
        top: 0px;
    }
    .dash-content {
        padding-left: 15px;
        margin-top: 100px;
        padding-right: 15px;
    }
    .top-navbx {
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 10000;
        right: 0px;
        padding: 15px 20px;
        background-color: #f8f9fb;
    }
    .menu-btn {
        position: fixed;
        display: block;
        bottom: 15px;
        right: 15px;
        z-index: 10000;
    }
    .menu-btn .btn {
        border-radius: 100px;
        height: 70px;
        width: 70px;
        padding: 15px;
        font-size: 12px;
        box-shadow: 0px 0px 13px #ffcc9b;
        cursor: pointer;
    }
    body.open .side-nav{
        background-color: #ff9937;
        position: fixed;
        height: 100%;
        width: 100%;
        display: block;
        z-index: 1000;
        max-width: 280px;
        left: 0%;
        top: 0px;
    }
    body.open .dash-content {
        padding-left: 300px;
        margin-top: 100px;
        padding-right: 15px;
        min-width: 500px;
    }
    body.open .top-navbx {
        position: fixed;
        left: 300px;
        top: 0px;
        z-index: 10000;
        right: 0px;
        padding: 15px 20px;
        background-color: #f8f9fb;
    }
    .menu-btn {
        position: fixed;
        display: block;
        bottom: 0px;
        right: 0px;
        left: 0px;
        z-index: 10000;
        width: 100%;
    }
    .menu-btn .btn {
        width: 100%;
        padding: 15px;
        border-radius: 0px;
    }
}
@media screen and (max-width: 767px){
    .b-curve.btn-block{
        min-width: 100%;
    }
    .menu{
        float: right;
        display: inline-block;
        position: relative;
    }
    .container-cs {
        width: 100%;
        max-width: 100%;
        margin: 0px auto;
        padding: 0px 15px;
    }
    .footer-copyrights {
        background-color: #464646;
        background-image: url(../img/bg_foot_gradint.png);
        background-position: top left;
        padding: 15px 0px;
        color: #ffffff;
        border-top: 1px solid #ffffff;
        font-size: 18px;
        background-size: contain;
        text-align: center;
    }
    .footer-social {
        display: block;
        position: relative;
        margin: 0px;
        padding: 0px;
        float: none;
        list-style: none;
        margin-top: 10px;
    }
    .footer-links {
        list-style: none;
        position: relative;
        display: block;
        margin: 0px;
        padding: 0px;
        margin-bottom: 15px;
    }
    .nav-innstal{
        position: fixed;
        float: none;
        width: 100%;
        max-width: 230px;
        top: 69px;
        left: -100%;
        height: 100%;
        z-index: 1000;
        background: #fe9738;
        transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
    }
    .nav-innstal.open{
        display: block;
        float: none;
        top: 69px;
        left: 0px;
        background: #fe9738;
    }
    .nav-innstal li{
        display: block;
        width: 100%;
        text-align: center;
    }
    .nav-innstal li a{
        display: block;
        width: 100%;
        color: #ffffff !important;
    }
    .nav-innstal li .split-nav a{
        padding: 15px 0px;
    }
    .nav-innstal li .seperator{
        display: none;
    }
    .dash-menubx{
        list-style: none;
        position: relative;
        display: block;
        margin: 0px;
        margin-top: 20px;
        padding: 0px;
    }
    .dash-menubx.absolute-fix{
        position: relative;
        z-index: 100;
        bottom: 20px;
        margin-top: 20px;
    }
    .dash-menubx li a{
        display: block;
        position: relative;
        padding: 13px 15px;
        font-weight: 700;
        padding-left: 40px;
        color: #ffffff;
        text-decoration: none;
    }
    .side-nav{
        background-color: #ff9937;
        position: fixed;
        height: 100%;
        width: 100%;
        display: block;
        z-index: 1000;
        max-width: 280px;
        left: -100%;
        top: 0px;
    }
    .dash-content {
        padding-left: 15px;
        margin-top: 100px;
        padding-right: 15px;
    }
    .top-navbx {
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 10000;
        right: 0px;
        padding: 15px 20px;
        background-color: #f8f9fb;
    }
    .menu-btn {
        position: fixed;
        display: block;
        bottom: 15px;
        right: 15px;
        z-index: 10000;
    }
    .menu-btn .btn {
        border-radius: 100px;
        height: 70px;
        width: 70px;
        padding: 15px;
        font-size: 12px;
        box-shadow: 0px 0px 13px #ffcc9b;
        cursor: pointer;
    }
    body.open .side-nav{
        background-color: #ff9937;
        position: fixed;
        height: 100%;
        width: 100%;
        display: block;
        z-index: 1000;
        max-width: 280px;
        left: 0%;
        top: 0px;
    }
    body.open .dash-content {
        padding-left: 300px;
        margin-top: 100px;
        padding-right: 15px;
        min-width: 500px;
    }
    body.open .top-navbx {
        position: fixed;
        left: 300px;
        top: 0px;
        z-index: 10000;
        right: 0px;
        padding: 15px 20px;
        background-color: #f8f9fb;
    }
    .menu-btn {
        position: fixed;
        display: block;
        bottom: 0px;
        right: 0px;
        left: 0px;
        z-index: 10000;
        width: 100%;
    }
    .menu-btn .btn {
        width: 100%;
        padding: 15px;
        border-radius: 0px;
    }
    .innstal-modal .modal-dialog {
        width: 86%;
        margin-right: 0px !important;
        margin-top: 0px;
        margin-left: auto;
    }
}
