<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>innstal</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="/static/app/styles/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/app/styles/css/main.css">
        <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="/static/app/scripts/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
        <script src="/static/app/scripts/js/ui-bootstrap-tpls-0.12.1.js"></script>
    </head>
    <body ng-app="innstalApp">
    <div ng-controller="basecontroller">
        <div ui-view="">
            <div class="banner">
                <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="slide-nav" data-spy="affix" data-offset-top="30">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </a>
                            <a class="navbar-brand" href="#"><img src="/static/app/images/logo.png"/></a>

                        </div>
                        <div id="slidemenu">
                            <ul class="nav navbar-nav navbar-right">

                            <button style="
                            " class="btn hidden-md hidden-lg hidden-sm nav-close"><i class="fa fa-times" aria-hidden="true"></i></button>

                                 <li><a href="#">How it works</a></li>
                                 <li><a href="#">Blog</a></li>
                                 <li><a href="#">Business</a></li>
                                 <ul class="pull-right login">
                                     <li class="hidden-xs"><a href="#" data-toggle="modal" data-target=".bs-example-modal-join" class="li-divide"><img src="/static/app/images/user.png"/> Join in</a></li>
                                     <li class="hidden-xs"><a href="#" data-toggle="modal" data-target=".bs-example-modal-log"> Log in</a></li>
                                 </ul>
                            <div align="center">
                                 <button class="btn xs-login hidden-sm hidden-lg hidden-md">
                                 <i class="fa fa-lock" aria-hidden="true"></i> Login
                               </button>
                               <div class="clearfix"></div>
                            </div>
                            <div align="center">

                               <button class="btn xs-login hidden-sm hidden-lg hidden-md xs-join">
                               <i class="fa fa-user" aria-hidden="true"></i> Join
                               </button>
                            </div>


                            </ul>

                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6 banner-left">
                            <div class="col-sm-offset-2 banner-inner " data-aos="fade-up">
                                <div class="clearfix"></div>
                                <h2>Looking for <br>
                                    Instruction/Product/Care<br>
                                    Manual?
                                </h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed <br> do eiusmod tempor incididuore magna aliqua.</p>
                                <div class="inner-addon col-sm-10">
                                    <span class="glyphicon glyphicon-search"></span>
                                    <input type="text" class="form-control " placeholder="Search for Instruction/Product/Care Manuals..." />
                                </div>
                                <div class="clearfix"></div>
                                <h4>Browse In Your Category</h4>
                                <div align="left">
                                    <div id="scrolldown">
                                        <div class="mouse">
                                            <span>
                                                <p>↓</p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 banner-right">
                            <div class="col-sm-offset-2 banner-inner" data-aos="fade-up">
                                <h2 class="reg">Want to Register<br>
                                    your Warranty Card ?
                                </h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed <br> do eiusmod tempor incididuore magna aliqua.</p>
                                <button class="btn btn-register  ">Register Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Categories ">
                <div class="container">
                    <h2>Browse in Instruction/Product/Care Manual Categories</h2>
                    <div class="row ">
                        <div class="col-sm-3" data-aos="fade-up" data-aos-once="true">
                            <div class="Categories-item">
                                <img width="100%" src="/static/app/images/cat-1.png"/>
                                <div class="Categories-title">
                                    <h4>Laptop</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3" data-aos="fade-up" data-aos-once="true">
                            <div class="Categories-item">
                                <img width="100%" src="/static/app/images/cat-2.png"/>
                                <div class="Categories-title">
                                    <h4>Mobiles</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3" data-aos="fade-up" data-aos-once="true">
                            <div class="Categories-item">
                                <img width="100%" src="/static/app/images/cat-3.png"/>
                                <div class="Categories-title">
                                    <h4>Smart Watches</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3" data-aos="fade-up" data-aos-once="true">
                            <div class="Categories-item">
                                <img width="100%" src="/static/app/images/cat-4.png"/>
                                <div class="Categories-title">
                                    <h4>Digital Cameras</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3" data-aos="fade-up" data-aos-once="true">
                            <div class="Categories-item">
                                <img width="100%" src="/static/app/images/cat-5.png"/>
                                <div class="Categories-title">
                                    <h4>Video Camera</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3" data-aos="fade-up" data-aos-once="true">
                            <div class="Categories-item">
                                <img width="100%" src="/static/app/images/cat-6.png"/>
                                <div class="Categories-title">
                                    <h4>Energy Saving</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3" data-aos="fade-up" data-aos-once="true">
                            <div class="Categories-item">
                                <img width="100%" src="/static/app/images/cat-7.png"/>
                                <div class="Categories-title">
                                    <h4>Energy Saving</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3" data-aos="fade-up" data-aos-once="true">
                            <div class="Categories-item">
                                <img width="100%" src="/static/app/images/cat-8.png"/>
                                <div class="Categories-title">
                                    <h4>Drone</h4>
                                </div>
                            </div>
                        </div>
                        <div align="center" class="more" data-aos="fade-up" data-aos-once="true" data-aos-delay="800">
                            <button class="btn btn-more"> Browse All Categories </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="Innstal-works">
                <div class="container">
                    <h2>How Innstal Works</h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="care">
                                <h3>Instruction/Product/Care Manual</h3>
                                <div class="row" data-aos="fade-up" data-aos-once="true">
                                    <div class="col-xs-12 col-sm-3 col-md-2 ">
                                        <img src="/static/app/images/ic-1.png">
                                    </div>
                                    <div class="col-xs-12 col-sm-9 col-md-10 ">
                                        <h4>
                                            Find Instruction/Product/Care Manual
                                            <hr align="left">
                                        </h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipis cing elit, sed do eiusmod</p>
                                    </div>
                                </div>
                                <div data-aos="fade-up" data-aos-once="true" style="    margin-left: 30px;
                                    margin-top: 15px;
                                    margin-bottom: 15px;">
                                    <img src="/static/app/images/icon_sep1.png" class="">
                                </div>
                                <div class="row" data-aos="fade-up" data-aos-once="true">
                                    <div class="col-xs-12 col-sm-3 col-md-2 ">
                                        <img src="/static/app/images/ic-2.png">
                                    </div>
                                    <div class="col-xs-12 col-sm-9 col-md-10 ">
                                        <h4>
                                            Read Instruction/Product/Care Manuals
                                            <hr align="left">
                                        </h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipis cing elit, sed do eiusmod</p>
                                    </div>
                                </div>
                                <div data-aos="fade-up" data-aos-once="true" style="    margin-left: 30px;
                                    margin-top: 15px;
                                    margin-bottom: 15px;">
                                    <img src="/static/app/images/icon_sep1.png" class="">
                                </div>
                                <div class="row" data-aos="fade-up" data-aos-once="true">
                                    <div class="col-xs-12 col-sm-3 col-md-2 ">
                                        <img src="/static/app/images/ic-3.png">
                                    </div>
                                    <div class="col-xs-12 col-sm-9 col-md-10 ">
                                        <h4>
                                            Download as PDF
                                            <hr align="left">
                                        </h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipis cing elit, sed do eiusmod</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="care">
                                <h3>Warranty Card</h3>
                                <div class="row" data-aos="fade-up" data-aos-once="true">
                                    <div class="col-xs-12 col-sm-3 col-md-2 ">
                                        <img src="/static/app/images/ic-4.png">
                                    </div>
                                    <div class="col-xs-12 col-sm-9 col-md-10 ">
                                        <h4>
                                            Find Instruction/Product/Care Manual
                                            <hr align="left">
                                        </h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipis cing elit, sed do eiusmod</p>
                                    </div>
                                </div>
                                <div data-aos="fade-up" data-aos-once="true" style="
                                    margin-left: 30px;
                                    margin-top: 0px;
                                    margin-bottom: 15px;
                                    ">
                                    <img src="/static/app/images/icon_sep2.png" class="sep" style="
                                        margin-top: -23px;
                                        ">
                                </div>
                                <div class="row" data-aos="fade-up" data-aos-once="true">
                                    <div class="col-xs-12 col-sm-3 col-md-2 ">
                                        <img src="/static/app/images/ic-5.png">
                                    </div>
                                    <div class="col-xs-12 col-sm-9 col-md-10 ">
                                        <h4>
                                            Find Instruction/Product/Care Manual
                                            <hr align="left">
                                        </h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipis cing elit, sed do eiusmod</p>
                                    </div>
                                    <button class="btn btn-warranty ">Register a Warranty Card</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subscribe">
                <div class="container">
                    <h2>Join over 2 million people already subscribed to Innstal. Subscribe Now</h2>
                    <div class="row" >
                        <div class="col-sm-3" data-aos="fade-up" data-aos-once="true">
                            <input ng-model="firstname" type="text" class="form-control" placeholder="First Name" />
                        </div>
                        <div class="col-sm-3" data-aos="fade-up" data-aos-once="true">
                            <input ng-model="subscribe_email" type="text" class="form-control" placeholder="Email" />
                        </div>
                        <div class="col-sm-3 col-sm-offset-3" data-aos="fade-up" data-aos-once="true">
                            <button class="btn" ng-click='subscribe()'>Subscribe Now</button>
                        </div>
                    </div>
                    <span id="messageSpan" style="float:right"></span>
                    <p>By clicking "Subscribe Now" I agree to Innstal's <a href="#">Terms and Conditions.</a></p>
                </div>
            </div>
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3" data-aos="fade-up" data-aos-once="true">
                            <h2>
                                Instruction Manual
                                <hr align="left" />
                            </h2>
                            <a href="#" class="col-sm-6">Acer</a>
                            <a href="#" class="col-sm-6">Epson</a>
                            <a href="#" class="col-sm-6">AEG</a>
                            <a href="#" class="col-sm-6">Frigidaire</a>
                            <a href="#" class="col-sm-6">Asus</a>
                            <a href="#" class="col-sm-6">Fujitsu</a>
                            <a href="#" class="col-sm-6">Black & Decker</a>
                            <a href="#" class="col-sm-6">GE</a>
                            <a href="#" class="col-sm-6">Bosch</a>
                            <a href="#" class="col-sm-6">Haier</a>
                            <a href="#" class="col-sm-6">Brother</a>
                            <a href="#" class="col-sm-6">Hitachi</a>
                            <a href="#" class="col-sm-6">Canon</a>
                            <a href="#" class="col-sm-6">Honda</a>
                            <a href="#" class="col-sm-6">Casio</a>
                            <a href="#" class="col-sm-6">More</a>
                        </div>
                        <div class="col-sm-3" data-aos="fade-up" data-aos-once="true">
                            <h2>
                                Company
                                <hr align="left" />
                            </h2>
                            <a href="#">How It Works </a>
                            <a href="#"> Business </a>
                            <a href="#"> Blog </a>
                            <a href="#"> Contact Us </a>
                            <a href="#"> Privacy Policy </a>
                            <a href="#"> Disclaimer </a>
                            <a href="#"> Terms and Conditions </a>
                        </div>
                        <div class="col-sm-6" data-aos="fade-up" data-aos-once="true">
                            <h2>
                                Contact Details
                                <hr align="left" />
                            </h2>
                            <p> <i class="fa fa-envelope" aria-hidden="true"></i>  Info@innstal.com</p>
                            <p> <i class="fa fa-map-marker" aria-hidden="true"></i>  Studio 103, The Business Centre, 61 Wellfield Road,<br>
                                Roath, Cardiff CF24 3DG
                            </p>
                            <h4>Subscribe</h4>
                            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</h5>
                            <div class="inner-addon right-addon">
                                <p id="id_email_subscribe" style="    position: absolute;
                                    margin: 0px;
                                    right: 10px;
                                    color: #ff9837;
                                    top: 15px;"><i class="fa fa-paper-plane" aria-hidden="true"></i>Subscribe</p>
                                <input id="id_emailid" placeholder="Enter Your Email Address" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <div class="footer-bottom">
                <div class="container-fluid">
                    <p>© Copyright 2017 Innstal. All Rights Reserved</p>
                    <div class="pull-right">
                        <a href="#"> <i class="fa fa-google-plus" aria-hidden="true"></i> </a>
                        <a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
                        <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



        <div class="modal fade bs-example-modal-log" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" ng-controller="logincontroller">
                <img class="modal-img " src="/static/app/images/logo.png" />
                <button type="button" class="close close-modal" data-dismiss="modal">&times;</button>
                <div class="modal-content col-sm-4 col-sm-offset-4">
                    <div class="modal-body">
                        <div class="signin-form">
                            <h2>Login to Innstal</h2>
                            <form name="loginForm" class="marginBottom-m breakPointS-marginBottom-l" novalidate>
                                <div class="marginBottom-m email">
                                    <div class="width-100 uiIcon uiIcon--l">
                                        <input class="width-100 input input--default input--l" type="email" ng-model="logindata.email" spellcheck="false" name="signin-email" placeholder="Email address">
                                        <span style="color:red" ng-show="loginForm.signin-email.$error">
                                            <span ng-show="submitted && loginForm.signin-email.$error.required">This field is required.</span>
                                            <span ng-show="submitted && loginForm.signin-email.$error.email">Invalid email address.</span>
                                        </span>
                                    </div>
                                    <div class="error textAlign-center"></div>
                                </div>
                                <div class="marginBottom-s password">
                                    <div class="width-100 uiIcon uiIcon--l">
                                        <div class="input-group">
                                            <input class="form-control pwd" type="password" ng-model="logindata.password" spellcheck="false" name="signin-password" placeholder="Password">
                                            <span class="input-group-btn">
                                            <button class="btn btn-default reveal" type="button"><i class="glyphicon glyphicon-eye-open"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="error textAlign-center"></div>
                                </div>
                                <div class="marginBottom-m textAlign-center breakPointS-textAlign-right">
                                    <div class="checkbox pull-left">
                                        <label>
                                        <input type="checkbox" value="">
                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        Remember Me
                                        </label>
                                    </div>
                                    <span class="forgot-password link link--light fontWeight-3 pull-right">
                                    Forgotten password?
                                    </span>
                                </div>
                                <div>
                                    <input id="login-button" type="button" class="width-100 button button--l btn-primary button--flat  c-white" value="Sign in" ng-click="alert();submitted=true;login(logindata)">
                                </div>
                            </form>
                            <div align="center" class="modal-signup-a">
                                <a href="#">Sign Up for Innstal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bs-example-modal-join" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
                <img class="modal-img " src="/static/app/images/logo.png" />
                <button type="button" class="close close-modal" data-dismiss="modal">&times;</button>
                <div class="modal-content col-sm-8 col-sm-offset-2">
                    <div class="modal-body">
                        <ul class="nav nav-tabs">
                            <li class="active col-sm-6 col-xs-12 no-padding"><a data-toggle="tab" href="#menu1">General User</a></li>
                            <li class="col-sm-6 col-xs-12 no-padding"><a data-toggle="tab" href="#home">Business User</a></li>
                        </ul>
                        <div class="tab-content">
                            <h2>Sign Up For Innstal</h2>
                            <div id="home" class="tab-pane fade">
                                <div class="row no-margin">
                                    <div class="col-sm-6 clearfix">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Company Name" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 clearfix">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter Your Company Email" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 clearfix">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter Your Phone Number" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 clearfix">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Person to Contact" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 clearfix">
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 clearfix">
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Enter Your Password Again" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 clearfix">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Address" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 clearfix">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Fax Number" />
                                        </div>
                                    </div>
                                    <div class="row no-margin">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="select">
                                                    <select name="slct" id="slct">
                                                        <option>City</option>
                                                        <option value="1">Pure CSS</option>
                                                        <option value="2">No JS</option>
                                                        <option value="3">Nice!</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="select">
                                                    <select name="slct" id="slct">
                                                        <option>State</option>
                                                        <option value="1">Pure CSS</option>
                                                        <option value="2">No JS</option>
                                                        <option value="3">Nice!</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="select">
                                                    <select name="slct" id="slct">
                                                        <option>Country</option>
                                                        <option value="1">Pure CSS</option>
                                                        <option value="2">No JS</option>
                                                        <option value="3">Nice!</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 clearfix">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Zipcode/Postalcode" />
                                            </div>
                                        </div>
                                        <div class="checkbox pull-left">
                                            <label>
                                            <input type="checkbox" value="">
                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            I accept all <a href="#">Terms & Conditions</a>
                                            </label>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div align="center">
                                            <button class="btn btn-Register width40  ">Sign Up</button>
                                        </div>
                                        <div align="center " class="marginBottom-m">
                                            <a href="#">Already have Account Login Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="menu1" class="tab-pane fade in active" ng-controller="joinincontroller">
                                <form name="regForm" novalidate>
                                <div class="row no-margin">
                                    <div class="col-sm-6 clearfix">
                                        <div class="form-group">
                                            <input type="text" ng-model="user.username" name="username" class="form-control" placeholder="Enter Your Name" required/>
                                            <span style="color:red" ng-show="regForm.username.$error">
                                                <span ng-show="submitted && regForm.username.$error.required">This field is required.</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 clearfix">
                                        <div class="form-group">
                                            <input type="email" ng-model="user.email" name="email" class="form-control" placeholder="Enter Your Email" required/>
                                            <span style="color:red" ng-show="regForm.email.$error">
                                                <span ng-show="submitted && regForm.email.$error.required">This field is required.</span>
                                                <span ng-show="submitted && regForm.email.$error.email">Invalid email address.</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 clearfix">
                                        <div class="form-group">
                                            <input type="text" ng-model="user.phone" name="phonenumber" ng-pattern="/^[0-9]{10}$/" class="form-control" placeholder="Enter Your Mobile Number" required/>
                                            <span style="color:red" ng-show="regForm.phonenumber.$error">
                                                <span ng-show="submitted && regForm.phonenumber.$error.required">This field is required.</span>
                                                <span ng-show="submitted && regForm.phonenumber.$error.pattern">Enter a valid phonenumber.</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 clearfix">
                                        <div class="form-group">
                                            <div class="row" style="margin-left:0px;margin-right: 0px;">
                                                <div class="col-xs-2 clearfix" style="padding-left:0px;padding-right: 0px;">
                                                    <label>Date of birth</label>
                                                </div>
                                                <div class="col-xs-3 " style="padding-left:5px; padding-right:5px;">
                                                    <input type="text" ng-model="user.day" ng-pattern="/^[0-9]{2}$/" name="day" class="form-control" placeholder="DD" required>
                                                    <span style="color:red" ng-show="regForm.day.$error">
                                                        <span ng-show="submitted && regForm.day.$error.required">This field is required.</span>
                                                        <span ng-show="submitted && regForm.day.$error.pattern">Enter a valid day.</span>
                                                    </span>                                                </div>
                                                <div class="col-xs-3 clearfix" style="padding-left:5px; padding-right:5px;">
                                                    <input type="text" ng-model="user.month" ng-pattern="/^[0-9]{2}$/" name="month" class="form-control" placeholder="MM" required>
                                                    <span style="color:red" ng-show="regForm.month.$error">
                                                        <span ng-show="submitted && regForm.month.$error.required">This field is required.</span>
                                                        <span ng-show="submitted && regForm.month.$error.pattern">Enter a valid month.</span>
                                                    </span>                                                </div>
                                                <div class="col-xs-4 clearfix" style="padding-left:5px;padding-right:5px;">
                                                    <input type="text" ng-model="user.year" ng-pattern="/^[0-9]{4}$/" name="year" class="form-control" placeholder="YYYY" required>
                                                    <span style="color:red" ng-show="regForm.year.$error">
                                                        <span ng-show="submitted && regForm.year.$error.required">This field is required.</span>
                                                        <span ng-show="submitted && regForm.year.$error.pattern">Enter a valid year.</span>
                                                    </span>                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 clearfix">
                                        <div class="form-group">
                                            <input type="password" ng-model="user.password" name="password" class="form-control" placeholder="Password" required/>
                                            <span style="color:red" ng-show="regForm.password.$error">
                                                <span ng-show="submitted && regForm.password.$error.required">This field is required.</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 clearfix">
                                        <div class="form-group">
                                            <input type="password" name="confirm_password" ng-model="user.confirm_password" class="form-control" placeholder="Confrim password" required/>
                                            <span style="color:red" ng-show="regForm.confirm_password.$error">
                                                <span ng-show="submitted && regForm.confirm_password.$error.required">This field is required.</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 clearfix">
                                        <div class="checkbox pull-left">
                                            <label>
                                            <input type="checkbox" value="">
                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            I accept all <a href="#">Terms & Conditions</a>
                                            </label>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div align="center">
                                            <input type="submit" class="btn btn-Register width40" value="Sign Up" ng-click="submitted=true;submit(user)">
                                        </div>
                                        <div align="center " class="marginBottom-m">
                                            <a href="#">Already have Account Login Now</a>
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script src="/static/app/scripts/js/vendor/jquery-1.11.2.min.js"></script>
        <script>
            window.jQuery || document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"><\/script>')
        </script>
        <script src="/static/app/scripts/js/vendor/bootstrap.min.js"></script>
        <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
        <script src="/static/app/scripts/js/main.js"></script>

        <script>
            AOS.init({
              offset: 200,
              duration: 600,
              easing: 'ease-in-sine',
              delay: 150,
            });
        </script>
        <script>
            $(document).ready(function () {

                //stick in the fixed 100% height behind the navbar but don't wrap it
                $('#slide-nav.navbar-inverse').after($('<div class="inverse" id="navbar-height-col"></div>'));

                $('#slide-nav.navbar-default').after($('<div id="navbar-height-col"></div>'));

                // Enter your ids or classes
                var toggler = '.navbar-toggle';
                var pagewrapper = '#page-content';
                var navigationwrapper = '.navbar-header';
                var menuwidth = '100%'; // the menu inside the slide menu itself
                var slidewidth = '80%';
                var menuneg = '-100%';
                var slideneg = '-80%';

                function toggleSideBar(selected){

                  $('#slidemenu').stop().animate({
                      left: selected ? menuneg : '0px'
                  });

                  $('#navbar-height-col').stop().animate({
                      left: selected ? slideneg : '0px'
                  });

                  $(pagewrapper).stop().animate({
                      left: selected ? '0px' : slidewidth
                  });

                  $(navigationwrapper).stop().animate({
                      left: selected ? '0px' : slidewidth
                  });


                  $(this).toggleClass('slide-active', !selected);
                  $('#slidemenu').toggleClass('slide-active');


                  $('#page-content, .navbar, body, .navbar-header').removeClass('slide-active');
                }

                $("#slide-nav").on("click", toggler, function (e) {

                    var selected = false;
                    toggleSideBar(selected);
                });

                $("body").on("click", '.nav-close', function (e) {
                    var selected = true;
                    toggleSideBar(selected);
                });

                var selected = '#slidemenu, #page-content, body, .navbar, .navbar-header';

                $(window).on("resize", function () {
                    if ($(window).width() > 767 && $('.navbar-toggle').is(':hidden')) {
                        $(selected).removeClass('slide-active');
                    }
                });
            });

        </script>
        <script type="text/javascript" src="/static/app/scripts/app.js"></script>
        <script type="text/javascript" src="/static/app/scripts/controllers/basecontroller.js"></script>
        <script type="text/javascript" src="/static/app/scripts/controllers/joinincontroller.js"></script>
        <script type="text/javascript" src="/static/app/scripts/controllers/logincontroller.js"></script>
    </body>



</html>
