<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3" data-aos="fade-up" data-aos-once="true">
                <h2>
                    Instruction Manual
                    <hr align="left" />
                </h2>
                <a href="#" class="col-sm-6">Acer</a>
                <a href="#" class="col-sm-6">Epson</a>
                <a href="#" class="col-sm-6">AEG</a>
                <a href="#" class="col-sm-6">Frigidaire</a>
                <a href="#" class="col-sm-6">Asus</a>
                <a href="#" class="col-sm-6">Fujitsu</a>
                <a href="#" class="col-sm-6">Black & Decker</a>
                <a href="#" class="col-sm-6">GE</a>
                <a href="#" class="col-sm-6">Bosch</a>
                <a href="#" class="col-sm-6">Haier</a>
                <a href="#" class="col-sm-6">Brother</a>
                <a href="#" class="col-sm-6">Hitachi</a>
                <a href="#" class="col-sm-6">Canon</a>
                <a href="#" class="col-sm-6">Honda</a>
                <a href="#" class="col-sm-6">Casio</a>
                <a href="#" class="col-sm-6">More</a>
            </div>
            <div class="col-sm-3" data-aos="fade-up" data-aos-once="true">
                <h2>
                    Company
                    <hr align="left" />
                </h2>
                <a href="#">How It Works </a>
                <a href="#"> Business </a>
                <a ui-sref="blog"> Blog </a>
                <a ui-sref="contact"> Contact Us </a>
                <a href="#"> Privacy Policy </a>
                <a href="#"> Disclaimer </a>
                <a href="#"> Terms and Conditions </a>
            </div>
            <div class="col-sm-6" data-aos="fade-up" data-aos-once="true">
                <h2>
                    Contact Details
                    <hr align="left" />
                </h2>
                <p> <i class="fa fa-envelope" aria-hidden="true"></i> Info@innstal.com</p>
                <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Studio 103, The Business Centre, 61 Wellfield Road,<br> Roath, Cardiff CF24 3DG
                </p>
                <h4>Subscribe</h4>
                <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</h5>
                <div class="inner-addon right-addon">
                    <p style="    position: absolute;
                        margin: 0px;
                        right: 10px;
                        color: #ff9837;
                        top: 15px;"> <i class="fa fa-paper-plane" aria-hidden="true"></i> Subscribe </p>
                    <input placeholder="Enter Your Email Address" type="text" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</footer>
