<link rel="stylesheet" href="/static/app/styles/css/main1.css">
<div ng-if="user_id">
    <header ng-include="'/static/app/views/directives/header-after-login.html'"></header>
</div>
<div ng-if="!user_id">
    <header ng-include="'/static/app/views/directives/header-before-login.html'"></header>
</div>
<div class="blog-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 " style="padding: 0px;">
                <div class="blog-left">
                    <img src="/static/app/images/blog-img.png" width="100%" />
                </div>
            </div>
            <div class="col-sm-6" style="border-bottom: 1px solid #d4d4d4;">
                <div class="blog-right">
                    <div id="container-01">
                        <div class="pinto" ng-repeat="x in blogdata">
                            <a ui-sref="blog-detail({id:x.id})"><img ng-src="{{x.blog_image}}"></a>
                            <div class="info">
                                <a ui-sref="blog-detail({id:x.id})">
                                    <h4>{{x.blog_title}}</h4>
                                </a>
                                <a ui-sref="blog-detail({id:x.id})">
                                    <h2>{{x.blog_subtitle}}</h2>
                                </a>
                                <p>{{x.blog_content}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function($) {
        "use strict";

        var container_01 = $("#container-01"),

        container_01.pinto();

    });
</script>