<!doctype html >
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="">
    <![endif]-->
    <!--[if IE 7]>
    <html class="no-js lt-ie9 lt-ie8" lang="">
        <![endif]-->
        <!--[if IE 8]>
        <html class="no-js lt-ie9" lang="">
            <![endif]-->
            <!--[if gt IE 8]><!-->
            <html class="no-js" lang="">
                <!--<![endif]-->
                <head>
                    <meta charset="utf-8">
                    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                    <title>innstal</title>
                    <meta name="description" content="">
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    <link rel="apple-touch-icon" href="apple-touch-icon.png">
                    <link rel="stylesheet" href="/static/app/styles/css/bootstrap.min.css">
                    <link rel="stylesheet" href="/static/app/styles/css/main1.css">
                    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
                    <script src="/static/app/scripts/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
                </head>
                <body>
                    <div class="contact-us navbar navbar-inverse navbar-fixed-top" role="navigation" id="slide-nav" data-spy="affix" data-offset-top="30">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-toggle">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </a>
                                <a class="navbar-brand" href="#"><img src="/static/app/images/logo-primary.png" /></a>
                            </div>
                            <div id="slidemenu">
                                <ul class="nav navbar-nav navbar-right">
                                    <button style="
                                        " class="btn hidden-md hidden-lg hidden-sm nav-close"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    <li><a href="#">How it works</a></li>
                                    <li><a ui-sref="blog">Blog</a></li>
                                    <li><a href="#">Business</a></li>
                                    <ul class="pull-right login">
                                        <li class="hidden-xs"><a href="#" class="li-divide"><i class="fa fa-user" aria-hidden="true"></i>  Join in</a></li>
                                        <li class="hidden-xs"><a href="#"> Log in</a></li>
                                    </ul>
                                    <div align="center">
                                        <button class="btn xs-login hidden-sm hidden-lg hidden-md">
                                        <i class="fa fa-lock" aria-hidden="true"></i> Login
                                        </button>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div align="center">
                                        <button class="btn xs-login hidden-sm hidden-lg hidden-md xs-join">
                                        <i class="fa fa-user" aria-hidden="true"></i> Join
                                        </button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="blog-wrapper">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 " style="padding: 0px;">
                                    <div class="blog-left">
                                        <img src="/static/app/images/blog-img.png" width="100%" />
                                    </div>
                                </div>
                                <div class="col-sm-6" style="border-bottom: 1px solid #d4d4d4;">
                                    <div class="blog-right">
                                        <div class="blog-details">
                                            <h2>{{blogdetail.blog_title}}
                                            </h2>
                                            <div class="blog-user-details">
                                                <img class="center-block img-circle" src="/static/app/images/user-pic.png" />
                                                <h3>{{blogdetail.first_name}}{{blogdetail.last_name}}</h3>
                                                <h4>25 mar 2015</h4>
                                                <h5>SCROLL DOWN
                                                    <img src="/static/app/images/blog-down-arrow.png" />
                                                </h5>
                                            </div>
                                            <p>{{blogdetail.blog_content}}</p>
                                            <div class="col-sm-8 col-sm-offset-2">
                                                <img width="100%" ng-src="{{blogdetail.blog_image}}" class="margin-bottom-40" />
                                            </div>
                                            <div class="clearfix"></div>
                                            <p><span>{{blogdetail.blog_content}}</span></p>
                                            <div class="pull-left">
                                                <p>- By <span>{{blogdetail.username}}</span></p>
                                            </div>
                                            <div class="pull-right blog-connect">
                                                <a href="#"> <i class="fa fa-google-plus" aria-hidden="true"></i> </a>
                                                <a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
                                                <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="subscribe">
                        <div class="container">
                            <h2>Join over 2 million people already subscribed to Innstal. Subscribe Now</h2>
                            <div class="row" >
                                <div class="col-sm-3" data-aos="fade-up" data-aos-once="true">
                                    <input type="text" class="form-control" placeholder="First Name" />
                                </div>
                                <div class="col-sm-3" data-aos="fade-up" data-aos-once="true">
                                    <input type="text" class="form-control" placeholder="Email" />
                                </div>
                                <div class="col-sm-3 col-sm-offset-3" data-aos="fade-up" data-aos-once="true">
                                    <button class="btn">Subscribe Now</button>
                                </div>
                            </div>
                            <p>By clicking "Subscribe Now" I agree to Innstal's <a href="#">Terms and Conditions.</a></p>
                        </div>
                    </div>
                    <footer>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3" data-aos="fade-up" data-aos-once="true">
                                    <h2>
                                        Instruction Manual
                                        <hr align="left" />
                                    </h2>
                                    <a href="#" class="col-sm-6">Acer</a>
                                    <a href="#" class="col-sm-6">Epson</a>
                                    <a href="#" class="col-sm-6">AEG</a>
                                    <a href="#" class="col-sm-6">Frigidaire</a>
                                    <a href="#" class="col-sm-6">Asus</a>
                                    <a href="#" class="col-sm-6">Fujitsu</a>
                                    <a href="#" class="col-sm-6">Black & Decker</a>
                                    <a href="#" class="col-sm-6">GE</a>
                                    <a href="#" class="col-sm-6">Bosch</a>
                                    <a href="#" class="col-sm-6">Haier</a>
                                    <a href="#" class="col-sm-6">Brother</a>
                                    <a href="#" class="col-sm-6">Hitachi</a>
                                    <a href="#" class="col-sm-6">Canon</a>
                                    <a href="#" class="col-sm-6">Honda</a>
                                    <a href="#" class="col-sm-6">Casio</a>
                                    <a href="#" class="col-sm-6">More</a>
                                </div>
                                <div class="col-sm-3" data-aos="fade-up" data-aos-once="true">
                                    <h2>
                                        Company
                                        <hr align="left" />
                                    </h2>
                                    <a href="#">How It Works </a>
                                    <a href="#"> Business </a>
                                    <a href="#"> Blog </a>
                                    <a href="#"> Contact Us </a>
                                    <a href="#"> Privacy Policy </a>
                                    <a href="#"> Disclaimer </a>
                                    <a href="#"> Terms and Conditions </a>
                                </div>
                                <div class="col-sm-6" data-aos="fade-up" data-aos-once="true">
                                    <h2>
                                        Contact Details
                                        <hr align="left" />
                                    </h2>
                                    <p> <i class="fa fa-envelope" aria-hidden="true"></i> Info@innstal.com</p>
                                    <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Studio 103, The Business Centre, 61 Wellfield Road,<br> Roath, Cardiff CF24 3DG
                                    </p>
                                    <h4>Subscribe</h4>
                                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</h5>
                                    <div class="inner-addon right-addon">
                                        <p style="    position: absolute;
                                            margin: 0px;
                                            right: 10px;
                                            color: #ff9837;
                                            top: 15px;"> <i class="fa fa-paper-plane" aria-hidden="true"></i> Subscribe </p>
                                        <input placeholder="Enter Your Email Address" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                    <div class="footer-bottom">
                        <div class="container-fluid">
                            <p>© Copyright 2017 Innstal. All Rights Reserved</p>
                            <div class="pull-right">
                                <a href="#"> <i class="fa fa-google-plus" aria-hidden="true"></i> </a>
                                <a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
                                <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
                            </div>
                        </div>
                    </div>
                    <script src="/static/app/scripts/js/vendor/jquery-1.11.2.min.js"></script>
                    <script>
                        window.jQuery || document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"><\/script>')
                    </script>
                    <script src="/static/app/scripts/js/vendor/bootstrap.min.js"></script>
                    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
                    <script src="/static/app/scripts/js/main.js"></script>
                    <script type="text/javascript" src="/static/app/scripts/js/jquery.pinto.js"></script>
                    <script type="text/javascript" src="/static/app/scripts/js/imagesloaded.pkgd.min.js"></script>
                    <script>
                        AOS.init({
                          offset: 200,
                          duration: 600,
                          easing: 'ease-in-sine',
                          delay: 150,
                        });
                    </script>
                    <script>
                        $(document).ready(function() {


                          //stick in the fixed 100% height behind the navbar but don't wrap it
                          $('#slide-nav.navbar-inverse').after($('<div class="inverse" id="navbar-height-col"></div>'));

                          $('#slide-nav.navbar-default').after($('<div id="navbar-height-col"></div>'));

                          // Enter your ids or classes
                          var toggler = '.navbar-toggle';
                          var pagewrapper = '#page-content';
                          var navigationwrapper = '.navbar-header';
                          var menuwidth = '100%'; // the menu inside the slide menu itself
                          var slidewidth = '80%';
                          var menuneg = '-100%';
                          var slideneg = '-80%';

                          function toggleSideBar(selected) {

                            $('#slidemenu').stop().animate({
                              left: selected ? menuneg : '0px'
                            });

                            $('#navbar-height-col').stop().animate({
                              left: selected ? slideneg : '0px'
                            });

                            $(pagewrapper).stop().animate({
                              left: selected ? '0px' : slidewidth
                            });

                            $(navigationwrapper).stop().animate({
                              left: selected ? '0px' : slidewidth
                            });


                            $(this).toggleClass('slide-active', !selected);
                            $('#slidemenu').toggleClass('slide-active');


                            $('#page-content, .navbar, body, .navbar-header').removeClass('slide-active');
                          }

                          $("#slide-nav").on("click", toggler, function(e) {

                            var selected = false;
                            toggleSideBar(selected);

                          });

                          $("body").on("click", '.nav-close', function(e) {
                            var selected = true;
                            toggleSideBar(selected);


                          });

                          var selected = '#slidemenu, #page-content, body, .navbar, .navbar-header';


                          $(window).on("resize", function() {

                            if ($(window).width() > 767 && $('.navbar-toggle').is(':hidden')) {
                              $(selected).removeClass('slide-active');
                            }


                          });




                        });
                    </script>
                    <script>
                        $(document).ready(function($) {
                          "use strict";

                          var container_01 = $("#container-01"),
                            container_02 = $("#container-02");

                          container_01.imagesLoaded(function() {
                            container_01.pinto({
                              itemWidth: 200,
                              gapX: 30,
                              gapY: 30,
                            });
                          });



                          $("#init").click(function() {
                            container_01.pinto();

                          });

                          $("#destroy").click(function() {
                            container_01.pinto("destroy");

                          });
                        });
                    </script>
                </body>
            </html>