<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="#">
    <link rel="apple-touch-icon-precomposed" href="#">
    <!-- favicon END -->
    <title>innstal</title>

    <!-- EXTERNAL STYLESHEET -->
    <link type="text/css" rel="stylesheet" href="asset/Css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="asset/Css/theme-style.css">
    <link type="text/css" rel="stylesheet" href="asset/Fonts/innistal/style.css">
    <!-- EXTERNAL STYLESHEET END -->
</head>

<body>
<!-- Main Box -->
<div class="container-fluid">
    <div class="row">
        <!-- header -->
        <header class="header nmr">
            <!-- container -->
            <div class="container-lg">
                <div class="logo-bx">
                    <a href="#">
                        <img src="/static/app/images/logo-1.png" class="logo-img" alt="innstal" />
                    </a>
                </div>
                <span class="menu">
                        <button class="btn btn-outline-secondary" data-toggle="menu" data-target="#navbar" type="button">Menu</button>
                    </span>
                <ul class="nav-innstal" id="navbar">
                    <li>
                        <a href="#">How it work</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li class="active">
                        <a href="#">Business</a>
                    </li>
                    <li>
                            <span class="split-nav">
                                <a href="#">
                                    <i class="icon-user-1 user"></i> Join in</a>
                                <span class="seperator"> | </span>
                                <a href="#">Log in</a>
                            </span>
                    </li>
                </ul>
            </div>
            <!-- container END -->
        </header>
        <!-- header END -->

        <!-- content-section -->
        <div class="content-section">

            <!-- contentbx -->
            <section class="section">
                <div class="container-cs content-box">
                    <h1 class="text-center">Lorem Ipsum is simply dummy text of the printing </br>and typesetting industry. </h1>
                    <div class="row">
                        <div class="col-sm-12 qoutsbx">
                            <div class="image-cmnt-bx" style="background-image: url('/static/app/images/cmnt-image.png');"></div>
                            <div class="row">
                                <div class="col-md-7"></div>
                                <div class="col-md-5">
                                    <div class="cmnt-bx">
                                        <span class="icon-qouts"></span>
                                        <p class="qouts-txt">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                                            penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                        </p>
                                        <p class="qouts-nameuser">
                                            <b>JOHN DOE</b>
                                        </p>
                                        <p class="qouts-namecmpny">Netflex</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section">
                <div class="container-cs content-box">
                    <h1 class="text-center">Subscribe for your Membership</h1>
                    <h6 class="sub-title text-center">Free 14 days Trial for all Packages with all the functionalities.</h6>
                    <div class="custom-checkbox-bx text-center">
                        <input type="checkbox" id="toggle_1" class="chkbx-toggle" value="1">
                        <label for="toggle_1" class="toggle-btn"></label>
                        <label class="toggle-on on toggle-btn">Monthly Billing</label>
                        <label class="toggle-off toggle-btn">Annual Billing</label>
                    </div>
                    <div class="pricing-plan-group">

                        <div class="row">
                            <!-- Plan -->
                            <div class="col-sm-4">
                                <div class="pricing-plan">
                                    <div class="pricing-head">
                                        <div class="plan-mode">
                                            Basic
                                        </div>
                                        <div class="plan-pricing">
                                            $
                                            <span>79</span>
                                            <span class="plan-period">/ Month</span>
                                        </div>
                                    </div>
                                    <div class="pricing-body">
                                        <div class="td-cntnt">
                                            <p>
                                                1 User
                                            </p>
                                            <p>
                                                Report/Data of only number of people registered your products
                                            </p>
                                        </div>
                                        <div class="td-cntnt">
                                            Report/Data of number of people downladed your manuals
                                        </div>
                                        <div class="td-cntnt">
                                            Reports 30 day of history
                                        </div>
                                        <div class="td-cntnt">
                                            Will be able to uplaod 100 manuals per month
                                        </div>
                                        <div class="td-cntnt">
                                            Customization Not available
                                        </div>
                                        <div class="td-cntnt">
                                            Warranty claims notification not available
                                        </div>
                                    </div>
                                    <div class="pricing-footer">
                                        <button class="btn btn-outline-warn">Choose Plan</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Plan END -->

                            <!-- Plan -->
                            <div class="col-sm-4">
                                <div class="pricing-plan active ">
                                    <div class="pricing-head">
                                        <div class="plan-mode">
                                            Standard
                                        </div>
                                        <div class="plan-pricing">
                                            $
                                            <span>159</span>
                                            <span class="plan-period">/ Month</span>
                                        </div>
                                    </div>
                                    <div class="pricing-body">
                                        <div class="td-cntnt">
                                            <p>
                                                3 User
                                            </p>
                                            <p>
                                                Report/Data of only number of people registered your products
                                            </p>
                                        </div>
                                        <div class="td-cntnt">
                                            Report/Data of number of people downladed your manuals
                                        </div>
                                        <div class="td-cntnt">
                                            Reports 30 day of history
                                        </div>
                                        <div class="td-cntnt">
                                            Will be able to uplaod 100 manuals per month
                                        </div>
                                        <div class="td-cntnt">
                                            Customization Not available
                                        </div>
                                        <div class="td-cntnt">
                                            Warranty claims notification not available
                                        </div>
                                    </div>
                                    <div class="pricing-footer">
                                        <button class="btn btn-outline-warn">Choose Plan</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Plan END -->

                            <!-- Plan -->
                            <div class="col-sm-4">
                                <div class="pricing-plan">
                                    <div class="pricing-head">
                                        <div class="plan-mode">
                                            Plus
                                        </div>
                                        <div class="plan-pricing">
                                            $
                                            <span>399</span>
                                            <span class="plan-period">/ Month</span>
                                        </div>
                                    </div>
                                    <div class="pricing-body">
                                        <div class="td-cntnt">
                                            <p>
                                                15 User
                                            </p>
                                            <p>
                                                Report/Data of only number of people registered your products
                                            </p>
                                        </div>
                                        <div class="td-cntnt">
                                            Report/Data of number of people downladed your manuals
                                        </div>
                                        <div class="td-cntnt">
                                            Reports 30 day of history
                                        </div>
                                        <div class="td-cntnt">
                                            Will be able to uplaod 100 manuals per month
                                        </div>
                                        <div class="td-cntnt">
                                            Customization Not available
                                        </div>
                                        <div class="td-cntnt">
                                            Warranty claims notification not available
                                        </div>
                                    </div>
                                    <div class="pricing-footer">
                                        <button class="btn btn-outline-warn">Choose Plan</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Plan END -->
                        </div>

                    </div>
                </div>
            </section>

            <section class="section">
                <hr />
                <div class="container-cs content-box">
                    <h1 class="head-title">Join over 2 Million people alredy subscribe to Innstal. Subscribe Now</h1>
                    <div class="row">
                        <div class="col-sm-7">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="First Name" />
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email" />
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-5">
                            <div class="form-group text-right">
                                <button class="btn btn-theme btn-lg width-pixer">Subscribe Now</button>
                            </div>
                        </div>
                        <div class="text-center form-group col-sm-12">
                            <p class="sub-title">By clicking 'Subscribe Now' I agree to Innstal's
                                <a href="#">Terms and Conditions.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- contentbx END -->

        </div>
        <!-- content-section END -->
    </div>

    <!-- Footer -->
    <footer class="footer">
        <!-- footer-section -->
        <div class="footer-section">
            <div class="container-cs">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="row">
                            <!-- Instruction Manual -->
                            <div class="col-md-6">
                                <h5 class="footer-head">
                                    Instruction Manual
                                </h5>

                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="footer-links">
                                            <li>
                                                <a href="#">
                                                    Accer
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    AEG
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Asus
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Black & Decker
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Bosch
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Brother
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Canon
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Casino
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-md-6">
                                        <ul class="footer-links">
                                            <li>
                                                <a href="#">
                                                    Espon
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    AEG
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Asus
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Black & Decker
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Bosch
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Brother
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Canon
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    More
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <!-- Instruction Manual End -->

                            <!-- Company -->
                            <div class="col-md-6">
                                <h5 class="footer-head">
                                    Company
                                </h5>
                                <ul class="footer-links">
                                    <li>
                                        <a href="#">
                                            How It Works
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Business
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Blog
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Contact Us
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Privacy policy
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Disclaimer
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Terms & Conditions
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Company END -->

                        </div>
                    </div>

                    <!-- Contact -->
                    <div class="col-md-6">
                        <h5 class="footer-head">
                            Contact Details
                        </h5>
                        <ul class="footer-cnt">
                            <li class="envolop-icon">
                                info@innstal.com
                            </li>
                            <li class="mapmark-icon">
                                Studio 103, The Business Centre, 61 Wellfield Road, </br>Roath, Cardiff CF24 3DG
                            </li>
                        </ul>

                        <h5>
                            <b>Subscribe</b>
                        </h5>
                        <p class="white-txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        <div class="input-group mb-3" ng-controller="subscribeController">
                            <form name="subscribeForm">

                                <input type="text" ng-model="subs.email" class="form-control" placeholder="Enter Your Email Address" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-theme" type="button" ng-click='subscribe(subs)'>
                                        <i class="icon-paper-plane"></i> Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Contact END -->

                </div>
            </div>
        </div>
        <!-- footer-section END -->

        <!-- footer-copyrights -->
        <div class="footer-copyrights">
            <div class="container-lg">
                <span>&copy; Copyright 2017 Innstal. All Rights Reserved</span>

                <ul class="footer-social">
                    <li>
                        <a href="#">
                            <i class="icon-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-fb-logo"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- footer-copyrights END -->
    </footer>
    <!-- Footer END -->
</div>
<!-- Main Box END -->

<script type="text/javascript" src="asset/Js/jquery.min.js"></script>
<script type="text/javascript" src="asset/Js/bootstrap.min.js"></script>
<script type="text/javascript" src="asset/Js/custom.js"></script>
</body>

</html>