<link rel="stylesheet" href="/static/app/styles/css/main1.css">

<header ng-include="'/static/app/views/directives/header-before-login.html'"></header>

<div class="contact-wrapper">

  <div class="container">

    <div class="row">

      <div class="col-sm-6">
        <div class="contact-left">

          <h2>Get In Touch
            <hr align="left">
          </h2>

          <h3>Address</h3>

          <p>Studio 103, The Business Centre, 61 Wellfield Road,<br>
          Roath, Cardiff CF24 3DG</p>

          <h3>Email</h3>

          <p>Info@innstal.com</p>
          <p>General @innstal.com</p>

          <h3>Social Network</h3>

          <a href="#"> <i class="fa fa-google-plus" aria-hidden="true"></i> </a>
          <a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
          <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>

        </diV>



      </div>

      <div class="col-sm-6">

        <div class="contact-right" ng-controller="ContactController">

          <h2>Get In Touch</h2>
          <p class="has-error"><b class="help-block">{{emailFailed.error}}</b></p>
          <p class="has-success"><b class="help-block">{{sucessMessage}}</b></p>
          <form name="form" novalidate>
            <div class="form-group ">
              <input type="text" name="yourname" class="form-control" ng-change="errors.name=null;" placeholder="Your Name" ng-model="form.name" required/>
              <span ng-show="errors.name[0]" style="color:red;" class="help-block">{{errors.name[0]}}</span>
              <span style="color:red;" ng-show="(!errors.name) && form.$submitted && form.yourname.$error.required">This Field is required.</span>
            </div>
            
            <div class="form-group">
              <input type="text" name="myemail" class="form-control" ng-change="errors.email=null;" placeholder="Email Address" ng-model="form.email" required/>
              <span ng-show="errors.email[0]" style="color:red;">{{errors.email[0]}}</span>
              <span style="color:red;" ng-show="(!errors.email) && form.$submitted && form.myemail.$error.required">This Field is required.</span>
            </div>
            <div class="form-group">
              <input type="text" name="myphone" class="form-control" ng-change="errors.phone=null;" placeholder="Phone" ng-model="form.phone" required/>
              <span ng-show="errors.phone[0]" style="color:red;">{{errors.phone[0]}}</span>
              <span style="color:red;" ng-show="(!errors.phone) && form.$submitted && form.myphone.$error.required">This Field is required.</span>
            </div>
            <div class="form-group">
              <textarea rows="8"  name="mymessage" style="resize: none;height:150px !important;" class="form-control" ng-change="errors.message=null;" placeholder="Your Message" ng-model="form.message" required></textarea>
              <span ng-show="errors.message[0]" style="color:red;">{{errors.message[0]}}</span>
               <span style="color:red;" ng-show="(!errors.message) && form.$submitted && form.mymessage.$error.required">This Field is required.</span>
            </div>
            
            <button class="btn btn-submit" ng-click="submit()">Submit</button>
          </form>
        </div>

      </div>



    </div>


  </div>



</div>
<div class="map container-fluid" style="padding:0px;">

  <img src="/static/app/images/map.png" width="100%" />


</div>
