<link type="text/css" rel="stylesheet" href="/static/app/styles/css/main1.css">
<link type="text/css" rel="stylesheet" href="/static/app/styles/css/theme-style.css">
<link type="text/css" rel="stylesheet" href="/static/app/styles/fonts/innistal/style.css">
<div ng-if="user_id">
    <header ng-include="'/static/app/views/directives/header-after-login.html'"></header>
</div>
<div ng-if="!user_id">
    <header ng-include="'/static/app/views/directives/header-before-login.html'"></header>
</div>
<!-- header END -->
<!-- content-section -->
<div class="content-section">
    <!-- Banner -->
    <section class="section">
        <div class="banner" style="background-image: url('/static/app/images/bg_01.jpg')">
            <div class="content-overlay">
                All Categories
            </div>
        </div>
    </section>
    <!-- Banner END -->
    <!-- contentbx -->
    <section class="section">
        <div class="container-cs content-box">
            <ul class="grid-cntent">
                <li>
                    <a href="#">
                    <img src="/static/app/images/img01.jpg" class="img-grid" alt="img-grid" />
                    <span class="grid-text bottom">Laptops</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <img src="/static/app/images/img02.jpg" class="img-grid" alt="img-grid" />
                    <span class="grid-text bottom">Smart Watch</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <img src="/static/app/images/img03.jpg" class="img-grid" alt="img-grid" />
                    <span class="grid-text ">Camera</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <img src="/static/app/images/img04.jpg" class="img-grid" alt="img-grid" />
                    <span class="grid-text bottom">Drones</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <img src="/static/app/images/img05.jpg" class="img-grid" alt="img-grid" />
                    <span class="grid-text ">Solar Panel</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <img src="/static/app/images/img06.jpg" class="img-grid" alt="img-grid" />
                    <span class="grid-text bottom">Refrigerators</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <img src="/static/app/images/img07.jpg" class="img-grid" alt="img-grid" />
                    <span class="grid-text">Mobile Phones</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <img src="/static/app/images/img01.jpg" class="img-grid" alt="img-grid" />
                    <span class="grid-text bottom">Laptops</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <img src="/static/app/images/img02.jpg" class="img-grid" alt="img-grid" />
                    <span class="grid-text bottom">Smart Watch</span>
                    </a>
                </li>
            </ul>
            <div class="form-group text-center">
                <button class="btn btn-outline-secondary btn-round">Load More</button>
            </div>
        </div>
    </section>
    <!-- contentbx END -->
</div>
<!-- content-section END -->