<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="#">
    <link rel="apple-touch-icon-precomposed" href="#">
    <!-- favicon END -->
    <title>innstal</title>

    <!-- EXTERNAL STYLESHEET -->
    <link type="text/css" rel="stylesheet" href="/static/app/styles/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/app/styles/css/theme-style.css">
    <link type="text/css" rel="stylesheet" href="/static/app/styles/fonts/innistal/style.css">
    <!-- EXTERNAL STYLESHEET END -->
</head>

<body>
    <!-- Main Box -->
    <div class="container-fluid">
        <div class="row">
            <!-- header -->
            <header class="header nmr">
                <!-- container -->
                <div class="container-lg">
                    <div class="logo-bx">
                        <a href="#">
                            <img src="/static/app/images/logo-1.png" class="logo-img" alt="innstal" />
                        </a>
                    </div>
                    <span class="menu">
                        <button class="btn btn-outline-secondary" data-toggle="menu" data-target="#navbar" type="button">Menu</button>
                    </span>
                    <ul class="nav-innstal" id="navbar">
                        <li class="active">
                            <a href="#">How it work</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                        <li>
                            <a href="#">Business</a>
                        </li>
                        <li>
                            <span class="split-nav">
                                <a href="#">
                                    <i class="icon-user-1 user"></i> Join in</a>
                                <span class="seperator"> | </span>
                                <a href="#">Log in</a>
                            </span>
                        </li>
                    </ul>
                </div>
                <!-- container END -->
            </header>
            <!-- header END -->

            <!-- content-section -->
            <div class="content-section">

                <!-- Banner -->
                <section class="section">
                    <div class="banner" style="background-image: url('/static/app/images/bg_01.jpg')">
                        <div class="content-overlay">
                            All Categories
                        </div>
                    </div>
                </section>
                <!-- Banner END -->

                <!-- contentbx -->
                <section class="section">
                    <div class="container-cs content-box">
                        <ul class="grid-cntent">
                            <li>
                                <a href="#">
                                    <img src="/static/app/images/img01.jpg" class="img-grid" alt="img-grid" />
                                    <span class="grid-text bottom">Laptops</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/static/app/images/img02.jpg" class="img-grid" alt="img-grid" />
                                    <span class="grid-text bottom">Smart Watch</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/static/app/images/img03.jpg" class="img-grid" alt="img-grid" />
                                    <span class="grid-text ">Camera</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/static/app/images/img04.jpg" class="img-grid" alt="img-grid" />
                                    <span class="grid-text bottom">Drones</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/static/app/images/img05.jpg" class="img-grid" alt="img-grid" />
                                    <span class="grid-text ">Solar Panel</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/static/app/images/img06.jpg" class="img-grid" alt="img-grid" />
                                    <span class="grid-text bottom">Refrigerators</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/static/app/images/img07.jpg" class="img-grid" alt="img-grid" />
                                    <span class="grid-text">Mobile Phones</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/static/app/images/img01.jpg" class="img-grid" alt="img-grid" />
                                    <span class="grid-text bottom">Laptops</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/static/app/images/img02.jpg" class="img-grid" alt="img-grid" />
                                    <span class="grid-text bottom">Smart Watch</span>
                                </a>
                            </li>
                        </ul>

                        <div class="form-group text-center">
                            <button class="btn btn-outline-secondary btn-round">Load More</button>
                        </div>
                    </div>
                </section>
                <!-- contentbx END -->

            </div>
            <!-- content-section END -->
        </div>

        <!-- Footer -->
        <footer class="footer">
            <!-- footer-section -->
            <div class="footer-section">
                <div class="container-cs">
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="row">
                                <!-- Instruction Manual -->
                                <div class="col-md-6">
                                    <h5 class="footer-head">
                                        Instruction Manual
                                    </h5>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <ul class="footer-links">
                                                <li>
                                                    <a href="#">
                                                        Accer
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        AEG
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Asus
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Black & Decker
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Bosch
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Brother
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Canon
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Casino
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-md-6">
                                            <ul class="footer-links">
                                                <li>
                                                    <a href="#">
                                                        Espon
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        AEG
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Asus
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Black & Decker
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Bosch
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Brother
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Canon
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        More
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <!-- Instruction Manual End -->

                                <!-- Company -->
                                <div class="col-md-6">
                                    <h5 class="footer-head">
                                        Company
                                    </h5>
                                    <ul class="footer-links">
                                        <li>
                                            <a href="#">
                                                How It Works
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Business
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Blog
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Contact Us
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Privacy policy
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Disclaimer
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Terms & Conditions
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Company END -->

                            </div>
                        </div>

                        <!-- Contact -->
                        <div class="col-md-6">
                            <h5 class="footer-head">
                                Contact Details
                            </h5>
                            <ul class="footer-cnt">
                                <li class="envolop-icon">
                                    info@innstal.com
                                </li>
                                <li class="mapmark-icon">
                                    Studio 103, The Business Centre, 61 Wellfield Road, </br>Roath, Cardiff CF24 3DG
                                </li>
                            </ul>

                            <h5>
                                <b>Subscribe</b>
                            </h5>
                            <p class="white-txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Enter Your Email Address" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-theme" type="button">
                                        <i class="icon-paper-plane"></i> Subscribe</button>
                                </div>
                            </div>
                        </div>
                        <!-- Contact END -->

                    </div>
                </div>
            </div>
            <!-- footer-section END -->

            <!-- footer-copyrights -->
            <div class="footer-copyrights">
                <div class="container-lg">
                    <span>&copy; Copyright 2017 Innstal. All Rights Reserved</span>

                    <ul class="footer-social">
                        <li>
                            <a href="#">
                                <i class="icon-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-fb-logo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- footer-copyrights END -->
        </footer>
        <!-- Footer END -->
    </div>
    <!-- Main Box END -->
</body>

</html>