<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="#">
    <link rel="apple-touch-icon-precomposed" href="#">
    <!-- favicon END -->
    <title>innstal</title>

    <!-- EXTERNAL STYLESHEET -->
    <link type="text/css" rel="stylesheet" href="/static/app/styles/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/app/styles/css/theme-style.css">
    <link type="text/css" rel="stylesheet" href="/static/app/styles/fonts/innistal/style.css">
    <link type="text/css" rel="stylesheet" href="/static/app/styles/Plugin/slider/bjqs.css">
    <!-- EXTERNAL STYLESHEET END -->


    <!-- Cropper -->
    <link type="text/css" rel="stylesheet" href="/static/app/styles/Plugin/Cropper/croppie.css">
    <!-- Cropper END -->

</head>

<body class="dash-body">
    <!-- Main Box -->
    <div class="container-fluid">
        <div class="row">
            <!-- side Menu -->
            <aside class="side-nav">
                <!-- side-nav-usersec -->
                <div class="side-nav-usersec">
                    <div class="dashboard-logobx">
                        <a href="#">
                            <img alt="Innstal" class="dash-logo" src="/static/app/images/logo-white.png" />
                        </a>
                    </div>

                    <div class="dash-userimage">
                        <img src="/static/app/images/user01.png" class="dash-userimg" alt="userImage" />
                        <p class="dash-user-name" style="margin-bottom: 5px; padding-right: 0px;">{{user_data.user.username}}</p>
                        <p class="dash-user-email">{{email_user}}</p>
                    </div>

                </div>
                <!-- side-nav-usersec END -->

                <!-- MENU -->
                <ul class="dash-menubx" id="sidemenu">
                    <li class="active">
                        <a ui-sref="home">
                            <i class="icon-home icon-menubar"></i> Home</a>
                    </li>

                </ul>

                <ul class="dash-menubx absolute-fix">
                    <li>
                        <a href="#" ng-click="logout()">
                            <i class="icon-logout icon-menubar"></i> Logout</a>
                    </li>
                </ul>
                <!-- MENU END -->

            </aside>
            <span class="menu-btn">
                <button class="btn btn-theme" data-toggle="sidemenu" data-target="#sidemenu">MENU</button>
            </span>
            <!-- side Menu END -->

            <!-- Content -->
            <main class="content-section dash-content">
                <div class="top-navbx">
                    <span class="user-info-bx">
                        <span>Hello, {{user_data.user.username}}</span>
                        </br>
                    </span>
                </div>

                <div class="row">

                    <div class="col-sm-12">
                        <h3>Edit Profile</h3>
                        <!-- Edit Profile -->
                        <div class="widger-sector col-sm-12">
                            <form name="myForm" novalidate>
                            <!-- Profile image crop -->
                            <div class="col-md-4 col-sm-5 split-col-md">
                                <!--<img width="100%" style="padding-bottom: 15px;" src="/static/app/images/slider-image.jpg" id="upload-demo" />-->
                                <div class="cropArea">
                                    <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
                                </div>
                                <div>Upload a different picture<input type="file" id="fileInput"/></div>
                            </div>
                            <!-- Profile image crop END -->

                            <div class="col-md-8 col-sm-7 split-col-md">

                                    <!-- row -->
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <div class="form-group">
                                                <input type="text" ng-model="user_data.user.username" class="form-control" placeholder="Enter Your Name" />
                                            </div>
                                        </div>

                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <input type="text" ng-model="user_data.phone" class="form-control" placeholder="Enter Your Phone Number" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- row End -->

                                    <!-- row -->
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <div class="form-group">
                                                <input type="text" ng-model="user_data.address" class="form-control" placeholder="Address" />
                                            </div>
                                        </div>

                                        <div class="col-sm-5">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <select class="form-control" name="country" ng-model="user_data.country" ng-options="country as country.name for country in countries track by country.id">
                                                            <option value="" selected>Select Country</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <select class="form-control" name="state" ng-model="user_data.state" ng-options="state as state.name for state in states track by state.id">
                                                            <option value="" selected>Select State</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- row End -->

                                    <!-- row -->
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <select class="form-control" name="city" ng-model="user_data.city" ng-options="city as city.name for city in cities track by city.id">
                                                            <option value="" selected>Select City</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" ng-model="user_data.zipcode" class="form-control" placeholder="Zipcode/PostalCode" />
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- row End -->

                                    <!-- row -->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4 class="text-theme">Change Email</h4>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="form-group">
                                                <input type="email" name="email" ng-model="user_data.user.email" class="form-control" placeholder="Enter Your Email" ng-change="clearEmail()" required/>
                                                <span style="color:red" ng-show="myForm.email.$error">
                                                <span ng-show="submitted && myForm.email.$error.required">This field is required.</span>
                                                <span ng-show="submitted && myForm.email.$error.email">Invalid email address.</span>
                                                <span>{{errorEmail}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- row End -->

                                    <!-- row -->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4 class="text-theme">Change Password</h4>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="password" name="password" class="form-control" ng-change="changepass()" ng-model="user_data.user.password" placeholder="Password" data-label="password1" password-error/>
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-attach" data-toggle="password" data-for="password1">
                                                            <i class="icon-eye"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <span style="color:red" ng-show="myForm.password.$error">
                                                <span ng-show="submitted && passwordError">{{passwordError}}</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="password" name="confirm_password" class="form-control" ng-model="user_data.user.confirm_password" placeholder="Enter Your Password Again" data-label="password2" repeat-password-error/>
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-attach" data-toggle="password" data-for="password2">
                                                            <i class="icon-eye"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <span style="color:red" ng-show="myForm.confirm_password.$error">
                                                    <span ng-show="submitted && repeatPasswordError">{{repeatPasswordError}}</span>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- row End -->

                                    <div class="col-sm-12 text-center">
                                        <button class="btn btn-theme btn-sm-wl" ng-click="submitted=true;saveProfile(user_data)">Save</button>
                                        <button class="btn btn-outline-theme btn-sm-wl">Cancel</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <!-- Edit Profile END -->
                    </div>


                    <div class="col-sm-12">
                        <h3>Email Notifcation</h3>
                        <!-- Edit Profile -->
                        <div class="widger-sector col-sm-12">
                            <form name="notificationForm">
                                <div class="col-md-11 col-md-offset-1">
                                    <div class="checkbox">
                                        <div class="cs-checkbox">
                                            <input type="checkbox" ng-checked="subscribed" ng-model="notify.subscribe" class="cs-input" id="newsletter" />
                                            <label for="newsletter">
                                                <span class="cs-checkbox-input"></span>
                                                Subscribe to Newsletters
                                            </label>
                                        </div>
                                    </div>

                                    <div class="checkbox">
                                        <div class="cs-checkbox">
                                            <input type="checkbox" ng-model="notify.message" class="cs-input" id="emailcheck" />

                                            <label for="emailcheck">
                                                <span class="cs-checkbox-input"></span>
                                                Email Notification to Messages
                                            </label>
                                        </div>
                                    </div>

                                    <div class="checkbox">
                                        <div class="cs-checkbox">
                                            <input type="checkbox" ng-model="notify.warranty" class="cs-input" id="warranty" />
                                            <label for="warranty">
                                                <span class="cs-checkbox-input"></span>
                                                Email Notification for Warranty Resolution
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-8 col-sm-6">
                                    <div class="col-sm-12 text-right">
                                        <button ng-click="saveNotification(notify)" class="btn btn-theme btn-sm-wl">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Email Notifcation END -->
                    </div>

                </div>
            </main>
            <!-- Content END -->

        </div>
    </div>
    <!-- Main Box END -->


    <!-- scroll -->
    <script type="text/javascript" src="/static/app/styles/Plugin/scrollbar/jquery.nicescroll.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".nicescroll").niceScroll({});
        });

        $(document).on('click', '[data-toggle="modal"]', function () {
            $(function () {
                setTimeout(function () {
                    $(".nicescroll").niceScroll({});
                    $('.nicescroll').addClass('has-scroll');
                }, 200);
            });
        });
    </script>
    <!-- scroll END -->

    <!-- Cropper -->
    <script type="text/javascript" src="/static/app/styles/Plugin/Cropper/croppie.min.js"></script>
    <script>
        $uploadCrop = $('#upload-demo').croppie({
            enableExif: true,
            viewport: {
                width: 200,
                height: 200,
                type: 'circle'
            },
            boundary: {
                width: 300,
                height: 300
            }
        });
    </script>
    <!-- Cropper END -->

    <!-- Chart End -->
    <script type="text/javascript" src="/static/app/scripts/js/custom.js"></script>
    <script>
        $(function () {
            $('.croppie-container').after('<div class="custome-uplode-file"><input class="input-form-upload" id="userimage" type="file" /><button class="btn btn-outline-theme">Upload a different photo</button></div>');
        });
    </script>

</body>

</html>