<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="#">
    <link rel="apple-touch-icon-precomposed" href="#">
    <!-- favicon END -->
    <title>innstal</title>

    <!-- EXTERNAL STYLESHEET -->
    <link type="text/css" rel="stylesheet" href="asset/Css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="asset/Css/theme-style.css">
    <link type="text/css" rel="stylesheet" href="asset/Fonts/innistal/style.css">
    <link type="text/css" rel="stylesheet" href="asset/plugin/slider/bjqs.css">
    <!-- EXTERNAL STYLESHEET END -->

    <!-- Calendar -->
    <link type="text/css" rel="stylesheet" href="asset/Plugin/calendar/dcalendar.picker.css">
    <!-- Calendar END -->

    <!-- Chart -->
    <link type="text/css" rel="stylesheet" href="asset/Plugin/charts/jquery.jqplot.min.css">
    <!-- Chart End -->
</head>
`
<body class="dash-body">
    <!-- Main Box -->
    <div class="container-fluid">
        <div class="row">
            <!-- side Menu -->
            <aside class="side-nav">
                <!-- side-nav-usersec -->
                <div class="side-nav-usersec">
                    <div class="dashboard-logobx">
                        <a href="#">
                            <img alt="Innstal" class="dash-logo" src="asset/img/logo-white.png" />
                        </a>
                    </div>

                    <div class="dash-userimage">
                        <img src="asset/img/user01.png" class="dash-userimg" alt="userImage" />
                        <p class="dash-user-name">Melissa Johnston
                            <span class="settings-icon">
                                <a href="#">
                                    <i class="icon-gear"></i>
                                </a>
                            </span>
                        </p>
                    </div>

                </div>
                <!-- side-nav-usersec END -->

                <!-- MENU -->
                <ul class="dash-menubx" id="sidemenu">
                    <li>
                        <a href="#">
                            <i class="icon-home icon-menubar"></i> Dashboard</a>
                    </li>
                    <li class="active">
                        <a href="#">
                            <i class="icon-file icon-menubar"></i> Instruction/Product/Care Manuals</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-business icon-menubar"></i> Warranties</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-history icon-menubar"></i> History</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-reading icon-menubar"></i> Instruction Manual builder</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-game icon-menubar"></i> Warranty Card Builder</a>
                    </li>
                </ul>

                <ul class="dash-menubx absolute-fix">
                    <li>
                        <a href="#">
                            <i class="icon-logout icon-menubar"></i> Logout</a>
                    </li>
                </ul>
                <!-- MENU END -->

            </aside>
            <span class="menu-btn">
                <button class="btn btn-theme" data-toggle="sidemenu" data-target="#sidemenu">MENU</button>
            </span>
            <!-- side Menu END -->

            <!-- Content -->
            <main class="content-section dash-content">
                <div class="top-navbx">
                    <span class="user-info-bx">
                        <span>Hello, Melissa Johnston</span>
                        </br>
                        <span>This is Your Business Dashboard</span>
                    </span>
                    <span class="user-topmenu">
                        <i class="icon-user"></i>
                    </span>
                </div>

                <div class="row">

                    <div class="col-sm-12">
                        <!-- Widger-sector -->
                        <div class="widger-sector">
                            <!-- Top row -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="custome-uplode-file">
                                        <input class="input-form-upload" type="file" />
                                        <button class="btn btn-theme">
                                            <i class="icon-Upload"></i> Upload
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <label class="text-muted">Sort by : </label>
                                    <select class="input-form-chart">
                                        <option>Date Modified</option>
                                        <option>Product Added</option>
                                    </select>
                                </div>

                            </div>
                            <!-- Top row END -->

                            <ul class="grid-manualcard">
                                <li>
                                    <div class="manual-card">
                                        <div class="manual-image">
                                            <span class="publish-sticker">Published</span>
                                            <img src="asset/img/instructionM.png" class="manual-img" alt="manual" />
                                        </div>
                                        <div class="manula-card-btns">
                                            <button class="btn btn-theme btn-sm-wl">Print</button>
                                            <button class="btn btn-theme btn-sm-wl">QR/Barcode</button>
                                            <button class="btn btn-theme publish btn-sm-wl">Publish</button>
                                        </div>
                                    </div>
                                    <div class="text-left">
                                        <div>Coreequpment (Version 1)</div>
                                        <div class="text-muted">112223344-44b</div>
                                    </div>
                                </li>

                                <li>
                                    <div class="manual-card">
                                        <div class="manual-image">
                                            <img src="asset/img/instructionM.png" class="manual-img" alt="manual" />
                                        </div>
                                        <div class="manula-card-btns">
                                            <button class="btn btn-theme btn-sm-wl">Print</button>
                                            <button class="btn btn-theme btn-sm-wl">QR/Barcode</button>
                                            <button class="btn btn-theme btn-sm-wl">Publish</button>
                                        </div>
                                    </div>
                                    <div class="text-left">
                                        <div>Coreequpment (Version 1)</div>
                                        <div class="text-muted">112223344-44b</div>
                                    </div>
                                </li>

                                <li>
                                    <div class="manual-card">
                                        <div class="manual-image">
                                            <img src="asset/img/instructionM.png" class="manual-img" alt="manual" />
                                        </div>
                                        <div class="manula-card-btns">
                                            <button class="btn btn-theme btn-sm-wl">Print</button>
                                            <button class="btn btn-theme btn-sm-wl">QR/Barcode</button>
                                            <button class="btn btn-theme btn-sm-wl">Publish</button>
                                        </div>
                                    </div>
                                    <div class="text-left">
                                        <div>Coreequpment (Version 1)</div>
                                        <div class="text-muted">112223344-44b</div>
                                    </div>
                                </li>

                                <li>
                                    <div class="manual-card">
                                        <div class="manual-image">
                                            <img src="asset/img/instructionM.png" class="manual-img" alt="manual" />
                                        </div>
                                        <div class="manula-card-btns">
                                            <button class="btn btn-theme btn-sm-wl">Print</button>
                                            <button class="btn btn-theme btn-sm-wl">QR/Barcode</button>
                                            <button class="btn btn-theme btn-sm-wl">Publish</button>
                                        </div>
                                    </div>
                                    <div class="text-left">
                                        <div>Coreequpment (Version 1)</div>
                                        <div class="text-muted">112223344-44b</div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <!-- Widger-sector END -->
                    </div>

                </div>
            </main>
            <!-- Content END -->

        </div>
    </div>
    <!-- Main Box END -->

    <script type="text/javascript" src="asset/Js/jquery.min.js"></script>
    <script type="text/javascript" src="asset/Js/bootstrap.min.js"></script>

    <!-- Chart End -->
    <script type="text/javascript" src="asset/Js/custom.js"></script>

</body>

</html>