<!doctype html >
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="">
    <![endif]-->
    <!--[if IE 7]>
    <html class="no-js lt-ie9 lt-ie8" lang="">
        <![endif]-->
        <!--[if IE 8]>
        <html class="no-js lt-ie9" lang="">
            <![endif]-->
            <!--[if gt IE 8]><!-->
            <html class="no-js" lang="">
                <!--<![endif]-->
                <head>
                    <meta charset="utf-8">
                    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                    <title>innstal</title>
                    <meta name="description" content="">
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    <link rel="apple-touch-icon" href="apple-touch-icon.png">
                    <link rel="stylesheet" href="css/bootstrap.min.css">
                    <link rel="stylesheet" href="css/main1.css">
                    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
                    <!-- Owl Stylesheets -->
                    <link rel="stylesheet" href="css/owl.carousel.min.css">
                    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

<style>

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?whfbof');
  src:  url('fonts/icomoon.eot?whfbof#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?whfbof') format('truetype'),
    url('fonts/icomoon.woff?whfbof') format('woff'),
    url('fonts/icomoon.svg?whfbof#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-message:before {
  content: "\e900";
}
.icon-address-book:before {
  content: "\e944";
}


</style>


                </head>
                <body>
                  <div class="contact-us navbar navbar-inverse navbar-fixed-top" role="navigation" id="slide-nav" data-spy="affix" data-offset-top="30">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <a class="navbar-toggle">
                   <span class="sr-only">Toggle navigation</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                  </a>
                        <a class="navbar-brand" href="#"><img src="img/logo-primary.png" /></a>

                      </div>

                      <div class="col-sm-4 hidden-xs">
                        <div class="inner-addon right-addon">
                          <span class="glyphicon glyphicon-search"></span>
                            <input type="text" placeholder="Search User Manual" class="form-control">
                        </div>
                      </div>


                      <div id="slidemenu">

                        <div class="user-image pull-right hidden-xs">

                        <img class="img-circle" src="img/user-pic.png">

                        </div>

                        <ul class="nav navbar-nav navbar-right">

                          <button style="
                " class="btn visible-xs nav-close"><i class="fa fa-times" aria-hidden="true"></i></button>

                <div class="xs-user-img visible-xs">

                <img class="img-circle" src="img/user-pic.png">

                </div>

                <div style="    margin: 15px;" class=" visible-xs">

                  <div class="inner-addon right-addon">
                    <span class="glyphicon glyphicon-search"></span>
                      <input type="text" placeholder="Search User Manual" class="form-control">
                  </div>

                </div>



                <li ><a href="#">Warranties</a></li>

                  <li><a href="#">Manuals </a></li>
                  <li><a href="#">Message </a></li>
                  <li><a href="#">Blog </a></li>
                  <li><a href="#">Help</a></li>





                        </ul>




                      </div>
                    </div>
                  </div>



<div class="message-wrapper">

<div class="container-fluid">

<div class="row" style="margin:0px; background:#fff;     box-shadow: 0px 0px 5px 0px #cdcdce;     margin-bottom: 20px;">

<div class="col-md-3" style="    background: #f9f9f9;
    border: 1px solid #e4e4e4;">

<div class="message-left">


<div align="center" class="message-head">


<button class="settings btn" ><i class="fa fa-cog" aria-hidden="true"></i> </button>

<button class="btn btn-message "> <i class="icon-message"> </i> </button> <button class="btn btn-contacts"> <i class="icon-address-book"> </i>  </button>




</div>

<div class="input-group">

     <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
      </div>

     <input type="text" class="form-control" placeholder="Search" name="search">

    </div>

    <div class="form-group">
      <div class="select">
          <select name="slct" id="slct">
            <option>All Recent</option>
            <option value="1">Pure CSS</option>
            <option value="2">No JS</option>
            <option value="3">Nice!</option>
          </select>
        </div>

    </div>



</div>






</div>

<div class="col-md-9" style=" ">

<div class="row" style="margin:0px">

<div class="message-head" >

  <div class="row" style="  background: #f9f9f9;
      border: 1px solid #e4e4e4; padding:4px;">

<div class="col-xs-8">

<h2>Milan Mistry</h2> <h5>10:56  am  IST <i class="fa fa-star-o" aria-hidden="true"></i>  </h5>


<h4>I need a talented web designer right away</h4>



</div>




<div align="right" class="col-xs-4">

  <button class="btn btn-default">View Claim</button>     <button class="btn btn-folder"><i class="fa fa-folder" aria-hidden="true"></i></button>   <button class="btn btn-option"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>



</div>

</div>

</div>

</div>



<div class="message-outer">
<div class="message-date">
<h4>Today</h4>
</div>

<div class="msg_container_base">
                    <div class="row msg_container base_sent">
                        <div class="col-md-12 col-xs-10">
                            <div class="messages msg_sent">
                                <p>that mongodb thing looks good, huh?
                                tiny master db, and huge document store</p>
                                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2 avatar">
                            <img src="img/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
                        </div>
                    </div>
                    <div class="row msg_container base_receive">
                        <div class="col-md-1 col-xs-2 avatar">
                            <img src="img/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
                        </div>
                        <div class="col-md-12 col-xs-10">
                            <div class="messages msg_receive">
                                <p>that mongodb thing looks good, huh?
                                tiny master db, and huge document store</p>
                                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                            </div>
                        </div>
                    </div>
                    <div class="row msg_container base_receive">
                        <div class="col-md-1 col-xs-2 avatar">
                            <img src="img/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <div class="messages msg_receive">
                                <p>that mongodb thing looks good, huh?
                                tiny master db, and huge document store</p>
                                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                            </div>
                        </div>
                    </div>
                    <div class="row msg_container base_sent">
                        <div class="col-xs-10 col-md-12">
                            <div class="messages msg_sent">
                                <p>that mongodb thing looks good, huh?
                                tiny master db, and huge document store</p>
                                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2 avatar">
                            <img src="img/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
                        </div>
                    </div>
                    <div class="row msg_container base_receive">
                        <div class="col-md-1 col-xs-2 avatar">
                            <img src="img/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
                        </div>
                        <div class="col-xs-10 col-md-12">
                            <div class="messages msg_receive">
                                <p>that mongodb thing looks good, huh?
                                tiny master db, and huge document store</p>
                                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                            </div>
                        </div>
                    </div>
                    <div class="row msg_container base_sent">
                        <div class="col-md-12 col-xs-10 ">
                            <div class="messages msg_sent">
                                <p>that mongodb thing looks good, huh?
                                tiny master db, and huge document store</p>
                                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2 avatar">
                            <img src="img/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
                        </div>
                    </div>

                    <div class="row msg_container base_receive">
                        <div class="col-md-1 col-xs-2 avatar">
                            <img src="img/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
                        </div>
                        <div class="col-xs-10 col-md-12">
                            <div class="messages msg_receive">
                                <p>that mongodb thing looks good, huh?
                                tiny master db, and huge document store</p>
                                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                            </div>
                        </div>
                    </div>


                </div>


<div class="row" style="margin:0px ;    margin-top: 15px; margin-bottom: 15px;" >

<div class="col-sm-10">

  <div class="input-group">
       <input style="border-right: 0px;" type="text" class="form-control" placeholder="Search" name="search">
       <div class="input-group-btn">
         <button  style=" height:51px;" class="btn btn-default" type="submit"><i class="fa fa-cog" aria-hidden="true"></i></button>
          <button  style=" height:51px; height: 51px;
    border-left: 0px;
    border-right: 0px;" class="btn btn-default" type="submit"><i class="fa fa-smile-o" aria-hidden="true"></i></button>

    <button   style=" height:51px; height: 51px;
border-left: 0px;
" class="btn btn-default" type="submit"><i class="fa fa-paperclip" aria-hidden="true"></i></button>
       </div>
     </div>

</div>


<div class="col-sm-2">

<button style="    font-size: 16px;
    padding: 13px 31px;
    background: #e0e0e0;" class="btn btn-default btn-m">Send</button>

</div>



</div>


</div>






</div>




</div>


</div>


</div>






                    <footer>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3" data-aos="fade-up" data-aos-once="true">
                                    <h2>
                                        Instruction Manual
                                        <hr align="left" />
                                    </h2>
                                    <a href="#" class="col-sm-6">Acer</a>
                                    <a href="#" class="col-sm-6">Epson</a>
                                    <a href="#" class="col-sm-6">AEG</a>
                                    <a href="#" class="col-sm-6">Frigidaire</a>
                                    <a href="#" class="col-sm-6">Asus</a>
                                    <a href="#" class="col-sm-6">Fujitsu</a>
                                    <a href="#" class="col-sm-6">Black & Decker</a>
                                    <a href="#" class="col-sm-6">GE</a>
                                    <a href="#" class="col-sm-6">Bosch</a>
                                    <a href="#" class="col-sm-6">Haier</a>
                                    <a href="#" class="col-sm-6">Brother</a>
                                    <a href="#" class="col-sm-6">Hitachi</a>
                                    <a href="#" class="col-sm-6">Canon</a>
                                    <a href="#" class="col-sm-6">Honda</a>
                                    <a href="#" class="col-sm-6">Casio</a>
                                    <a href="#" class="col-sm-6">More</a>
                                </div>
                                <div class="col-sm-3" data-aos="fade-up" data-aos-once="true">
                                    <h2>
                                        Company
                                        <hr align="left" />
                                    </h2>
                                    <a href="#">How It Works </a>
                                    <a href="#"> Business </a>
                                    <a href="#"> Blog </a>
                                    <a href="#"> Contact Us </a>
                                    <a href="#"> Privacy Policy </a>
                                    <a href="#"> Disclaimer </a>
                                    <a href="#"> Terms and Conditions </a>
                                </div>
                                <div class="col-sm-6" data-aos="fade-up" data-aos-once="true">
                                    <h2>
                                        Contact Details
                                        <hr align="left" />
                                    </h2>
                                    <p> <i class="fa fa-envelope" aria-hidden="true"></i> Info@innstal.com</p>
                                    <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Studio 103, The Business Centre, 61 Wellfield Road,<br> Roath, Cardiff CF24 3DG
                                    </p>
                                    <h4>Subscribe</h4>
                                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</h5>
                                    <div class="inner-addon right-addon">
                                        <p style="    position: absolute;
                                            margin: 0px;
                                            right: 10px;
                                            color: #ff9837;
                                            top: 15px;"> <i class="fa fa-paper-plane" aria-hidden="true"></i> Subscribe </p>
                                        <input placeholder="Enter Your Email Address" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                    <div class="footer-bottom">
                        <div class="container-fluid">
                            <p>© Copyright 2017 Innstal. All Rights Reserved</p>
                            <div class="pull-right">
                                <a href="#"> <i class="fa fa-google-plus" aria-hidden="true"></i> </a>
                                <a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
                                <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
                            </div>
                        </div>
                    </div>
                    <script src="js/vendor/jquery-1.11.2.min.js"></script>
                    <script>
                        window.jQuery || document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"><\/script>')
                    </script>
                    <script src="js/vendor/bootstrap.min.js"></script>
                    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
                    <script src="js/main.js"></script>
                    <script type="text/javascript" src="js/jquery.pinto.js"></script>
                    <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
                    <script src="js/owl.carousel.js"></script>

                    <script>
                        AOS.init({
                          offset: 200,
                          duration: 600,
                          easing: 'ease-in-sine',
                          delay: 150,
                        });
                    </script>
                    <script>
                        $(document).ready(function() {


                          //stick in the fixed 100% height behind the navbar but don't wrap it
                          $('#slide-nav.navbar-inverse').after($('<div class="inverse" id="navbar-height-col"></div>'));

                          $('#slide-nav.navbar-default').after($('<div id="navbar-height-col"></div>'));

                          // Enter your ids or classes
                          var toggler = '.navbar-toggle';
                          var pagewrapper = '#page-content';
                          var navigationwrapper = '.navbar-header';
                          var menuwidth = '100%'; // the menu inside the slide menu itself
                          var slidewidth = '80%';
                          var menuneg = '-100%';
                          var slideneg = '-80%';

                          function toggleSideBar(selected) {

                            $('#slidemenu').stop().animate({
                              left: selected ? menuneg : '0px'
                            });

                            $('#navbar-height-col').stop().animate({
                              left: selected ? slideneg : '0px'
                            });

                            $(pagewrapper).stop().animate({
                              left: selected ? '0px' : slidewidth
                            });

                            $(navigationwrapper).stop().animate({
                              left: selected ? '0px' : slidewidth
                            });


                            $(this).toggleClass('slide-active', !selected);
                            $('#slidemenu').toggleClass('slide-active');


                            $('#page-content, .navbar, body, .navbar-header').removeClass('slide-active');
                          }

                          $("#slide-nav").on("click", toggler, function(e) {

                            var selected = false;
                            toggleSideBar(selected);

                          });

                          $("body").on("click", '.nav-close', function(e) {
                            var selected = true;
                            toggleSideBar(selected);


                          });

                          var selected = '#slidemenu, #page-content, body, .navbar, .navbar-header';


                          $(window).on("resize", function() {

                            if ($(window).width() > 767 && $('.navbar-toggle').is(':hidden')) {
                              $(selected).removeClass('slide-active');
                            }


                          });




                        });
                    </script>
                    <script>
                        $(document).ready(function($) {
                          "use strict";

                          var container_01 = $("#container-01"),
                            container_02 = $("#container-02");

                          container_01.imagesLoaded(function() {
                            container_01.pinto({
                              itemWidth: 200,
                              gapX: 30,
                              gapY: 30,
                            });
                          });



                          $("#init").click(function() {
                            container_01.pinto();

                          });

                          $("#destroy").click(function() {
                            container_01.pinto("destroy");

                          });
                        });
                    </script>

                    <script>
                        $('.owl-carousel').owlCarousel({
                          loop: true,
                          margin: 10,
                          responsiveClass: true,
                          responsive: {
                            0: {
                              items: 1,
                              nav: true
                            },
                            600: {
                              items: 1,
                              nav: false
                            },
                            1000: {
                              items: 1,
                              nav: true,
                              loop: false
                            }
                          }
                        })
                    </script>

                </body>
            </html>
