<div class="sign-up">
    <div class="container">
        <div class="row">
            <div class="outer">
                <div class="middle">
                    <div class="inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="signin-wrapper">
                                        <div align="center">
                                            <a ui-sref="home"><img  src="/static/app/images/logo.png" style="margin:5px" /></a>
                                        </div>
                                        <div class="signup-outer">
                                            <div class="signin-form">
                                                <form name="loginForm" class="marginBottom-m breakPointS-marginBottom-l" novalidate>
                                                    <div class="marginBottom-m email">
                                                        <div class="width-100 uiIcon uiIcon--l">
                                                            <input class="width-100 input input--default input--l" type="email" ng-model="logindata.email" spellcheck="false" name="signin-email" placeholder="Email address">
                                                            <span style="color:red" ng-show="loginForm.signin-email.$error">
                                                                <span ng-show="submitted && loginForm.signin-email.$error.required">This field is required.</span>
                                                                <span ng-show="submitted && loginForm.signin-email.$error.email">Invalid email address.</span>
                                                            </span>
                                                        </div>
                                                        <div class="error textAlign-center"></div>
                                                    </div>
                                                    <div class="marginBottom-s password">
                                                        <div class="width-100 uiIcon uiIcon--l">
                                                          <div class="input-group">
                                                            <input type="password" class="form-control pwd" value="iamapassword" ng-model="logindata.password">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-default reveal" type="button"><i class="glyphicon glyphicon-eye-open"></i></button>
                                                            </span>
                                                          </div>
                                                        </div>
                                                        <div class="error textAlign-center"></div>
                                                    </div>

                                                    <div class="marginBottom-m textAlign-center breakPointS-textAlign-right">
                                                    <div class="checkbox pull-left">
                                                    <label>
                                                    <input type="checkbox" value="">
                                                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                    Remember Me
                                                    </label>
                                                    </div>
                                                    <span data-target=".forget-password" data-toggle="modal" class="forgot-password link link--light fontWeight-3 pull-right">
                                                    Forgot password?
                                                    </span>
                                                    </div>
                                                    <div>
                                                    <button id="login-button" type="submit" class="width-100 button button--l btn-primary button--flat  c-white" ng-click="submitted=true;login(logindata);">
                                                    Sign in
                                                    </button>
                                                    </div>
                                                </form>

                                                <!--dont have an account-->
                                                <div align="center" class="modal-signup-a">
                                                  <a ui-sref="register">Sign Up for Innstal</a>
                                                </div>
                                                <!--end of dont have an account-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade forget-password" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <h3><b>Forgot Password</b></h3>
                <p>Forgot your password? Don’t panic it happens with anyone.</p>
                <form name="myForm" novalidate>
                    <div class="input-group col-sm-10 col-sm-offset-1 ">
                        <input type="email" name="email" ng-model="data.email" class="form-control" placeholder="Enter Your Email" >
                        <div class="input-group-btn">
                            <input class="btn btn-default" type="submit" ng-click="submittedforgot=true;change_password(data)" value="Submit">

                        </div>

                    </div>
                        <span style="color:red" ng-show="myForm.email.$error">
                            <span ng-show="submittedforgot && myForm.email.$error.required">This field is required.</span>
                            <span ng-show="submittedforgot && myForm.email.$error.email">Invalid email address.</span>
                        </span>
                </form>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqu ut enim ad mini.</p>
            </div>
        </div>
    </div>
</div>