<link rel="stylesheet" href="/static/app/styles/css/main.css">
<div class="sign-up">
    <div class="container">
        <div class="row">
            <div class="outer">
                <div class="middle">
                    <div class="inner">
                        <div class="container">
                            <div class="row">
                                <div class=" col-sm-8 col-sm-offset-2">
                                    <div class="xs-sign-logo" align="center">
                                        <a ui-sref="home"><img src="/static/app/images/logo.png" style="margin:5px" /></a>
                                    </div>
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <ul class="nav nav-tabs">
                                                <li class="col-sm-6 col-xs-12 no-padding active"><a data-toggle="tab" href="#menu1" aria-expanded="false">General User</a></li>
                                                <li class="col-sm-6 col-xs-12 no-padding"><a data-toggle="tab" href="#home_tab" aria-expanded="true">Business User</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <h2>Sign Up For Innstal</h2>
                                                <div id="home_tab" class="tab-pane fade">
                                                    <div class="row no-margin">
                                                        <div class="col-sm-6 clearfix">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" placeholder="Company Name">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 clearfix">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" placeholder="Enter Your Company Email">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 clearfix">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" placeholder="Enter Your Phone Number">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 clearfix">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" placeholder="Person to Contact">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 clearfix">
                                                            <div class="form-group">
                                                                <input type="password" class="form-control" placeholder="Password">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 clearfix">
                                                            <div class="form-group">
                                                                <input type="password" class="form-control" placeholder="Enter Your Password Again">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 clearfix">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" placeholder="Address">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 clearfix">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" placeholder="Fax Number">
                                                            </div>
                                                        </div>
                                                        <div class="row no-margin">
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <div class="select">
                                                                        <select name="slct" id="slct">
                                                                            <option>City</option>
                                                                            <option value="1">Pure CSS</option>
                                                                            <option value="2">No JS</option>
                                                                            <option value="3">Nice!</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <div class="select">
                                                                        <select name="slct" id="slct">
                                                                            <option>State</option>
                                                                            <option value="1">Pure CSS</option>
                                                                            <option value="2">No JS</option>
                                                                            <option value="3">Nice!</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <div class="select">
                                                                        <select name="slct" id="slct">
                                                                            <option>Country</option>
                                                                            <option value="1">Pure CSS</option>
                                                                            <option value="2">No JS</option>
                                                                            <option value="3">Nice!</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3 clearfix">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" placeholder="Zipcode/Postalcode">
                                                                </div>
                                                            </div>
                                                            <div class="checkbox pull-left">
                                                                <label>
                                                                    <input type="checkbox" value="">
                                                                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                    I accept all <a href="#">Terms &amp; Conditions</a>
                                                                </label>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div align="center">
                                                                <button class="btn btn-Register width40  ">Sign Up</button>
                                                            </div>
                                                            <div align="center " class="marginBottom-m">
                                                                <a ui-sref="login">Already have Account Login Now</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="menu1" class="tab-pane fade in active">
                                                    <form name="regForm" novalidate>
                                                        <div class="row no-margin">
                                                            <div class="col-sm-6 clearfix">
                                                                <div class="form-group">
                                                                    <input type="text" ng-model="user.username" name="username" class="form-control" placeholder="Enter Your Name" required/>
                                                                    <span style="color:red" ng-show="regForm.username.$error">
                                                                    <span ng-show="submitted && regForm.username.$error.required">This field is required.</span>
                                                                    <span ng-if="error.name[0]">{{error.name[0]}}</span>
                                                                    </span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 clearfix">
                                                                <div class="form-group">
                                                                    <input type="email" ng-model="user.email" name="email" class="form-control" placeholder="Enter Your Email" required/>
                                                                    <span style="color:red" ng-show="regForm.email.$error">
                                                                    <span ng-show="submitted && regForm.email.$error.required">This field is required.</span>
                                                                    <span ng-show="submitted && regForm.email.$error.email">Invalid email address.</span>
                                                                    <span ng-if="error.email[0]">{{error.email[0]}}</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 clearfix">
                                                                <div class="form-group">
                                                                    <input type="text" ng-model="user.phone" name="phonenumber" ng-pattern="/^[0-9]{10}$/" class="form-control" placeholder="Enter Your Mobile Number" required/>
                                                                    <span style="color:red" ng-show="regForm.phonenumber.$error">
                                                                    <span ng-show="submitted && regForm.phonenumber.$error.required">This field is required.</span>
                                                                    <span ng-show="submitted && regForm.phonenumber.$error.pattern">Enter a valid phonenumber.</span>
                                                                    <span ng-if="error.phone[0]">{{error.phone[0]}}</span>
                                                                    </span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 clearfix">
                                                                <div class="form-group">
                                                                    <div class="row" style="margin-left:0px;margin-right: 0px;">
                                                                        <div class="col-xs-2 clearfix" style="padding-left:0px;padding-right: 0px;">
                                                                            <label>Date of birth</label>
                                                                        </div>
                                                                        <div class="col-xs-3 " style="padding-left:5px; padding-right:5px;">
                                                                            <input type="number" ng-model="user.day" name="day" class="form-control" min="1" max="31" placeholder="DD" required>
                                                                            <span style="color:red" ng-show="regForm.day.$error">
                                                                            <span ng-show="submitted && regForm.day.$error.required">This field is required.</span>
                                                                            <span ng-show="submitted && regForm.day.$error.min">Enter a valid day.</span>
                                                                            <span ng-show="submitted && regForm.day.$error.max">Enter a valid day.</span>
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-xs-3 clearfix" style="padding-left:5px; padding-right:5px;">
                                                                            <input type="number" ng-model="user.month" name="month" class="form-control" min="1" max="12" placeholder="MM" required>
                                                                            <span style="color:red" ng-show="regForm.month.$error">
                                                                            <span ng-show="submitted && regForm.month.$error.required">This field is required.</span>
                                                                            <span ng-show="submitted && regForm.month.$error.min">Enter a valid month.</span>
                                                                            <span ng-show="submitted && regForm.month.$error.max">Enter a valid month.</span>
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-xs-4 clearfix" style="padding-left:5px;padding-right:5px;">
                                                                            <input type="text" ng-model="user.year" ng-pattern="/^[0-9]{4}$/" name="year" class="form-control" placeholder="YYYY" required>
                                                                            <span style="color:red" ng-show="regForm.year.$error">
                                                                            <span ng-show="submitted && regForm.year.$error.required">This field is required.</span>
                                                                            <span ng-show="submitted && regForm.year.$error.pattern">Enter a valid year.</span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 clearfix">
                                                                <div class="form-group">
                                                                    <input type="password" ng-model="user.password" name="password" class="form-control" placeholder="Password" required password-error/>
                                                                    <span style="color:red" ng-show="regForm.password.$error">
                                                                    <span ng-show="submitted && regForm.password.$error.required">This field is required.</span>
                                                                    <span ng-show="submitted && passwordError">{{passwordError}}</span>
                                                                    </span>
                                                                    <span ng-if="error.password[0]">{{error.password[0]}}</span>
                                                                    </span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 clearfix">
                                                                <div class="form-group">
                                                                    <input type="password" name="confirm_password" ng-model="user.confirm_password" class="form-control" placeholder="Confirm password" required repeat-password-error/>
                                                                    <span style="color:red" ng-show="regForm.confirm_password.$error">
                                                                    <span ng-show="submitted && regForm.confirm_password.$error.required">This field is required.</span>
                                                                    <span ng-show="submitted && repeatPasswordError">{{repeatPasswordError}}</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 clearfix">
                                                                <div class="checkbox pull-left">
                                                                    <label>
                                                                        <input ng-model="user.accept" type="checkbox"  name="accept" required>
                                                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                        I accept all <a href="#">Terms &amp; Conditions</a>
                                                                    </label>
                                                                    <br/>
                                                                    <span style="color:red" ng-show="regForm.accept.$error">
                                                                        <span ng-show="submitted && regForm.accept.$error.required">&nbsp;&nbsp;&nbsp;&nbsp;This field is required.</span>
                                                                    </span>
                                                                </div>
                                                                <div class="clearfix"></div>
                                                                <div align="center">
                                                                    <input type="submit" class="btn btn-Register width40 " value="Sign Up" ng-click="submitted=true;submit(user)">
                                                                </div>
                                                                <div align="center " class="marginBottom-m">
                                                                    <a ui-sref="login">Already have Account Login Now</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


